<edit-container [headerTitle]="id ?  'Edit ship details':'Add ship details'">
  <app-loader *ngIf="(isLoading$ | async)" [isContainer]="true" [fullScreen]="false"></app-loader>
  <form [formGroup]="shipForm" *ngIf="!(isLoading$ | async)">
      <div class="tw-flex tw-flex-col tw-mx-auto tw-max-w-[440px] tw-gap-5">
        <div>
          <div iconic-input-wrapper leftIcon="id-badge">
            <input inputRef type="text" placeholder="License plate" formControlName="licensePlate">
          </div>
        </div>
        <div>
          <div iconic-select-wrapper leftIcon="user" [rightIcon]="['fas', 'caret-down']">
            <select inputRef name="type" id="type" formControlName="type">
              <option value="" disabled>Select Type</option>
              <option *ngFor="let type of VehicleTypeEnum" value="{{type}}">{{type}}</option>
            </select>
          </div>
        </div>
        <div>
          <div iconic-select-wrapper leftIcon="eye" [rightIcon]="['fas', 'caret-down']">
            <select inputRef name="status" id="status" formControlName="status">
              <option value="" disabled>Select status</option>
              <option value="true">Active</option>
              <option value="false">Inactive</option>
            </select>
          </div>
        </div>
        <div>
          <div iconic-input-wrapper leftIcon="location-dot">
            <input inputRef type="text" name="loadingCapacity" placeholder="Loading capacity (kg)" formControlName="loadingCapacity">
          </div>
        </div>
      </div>

      <div class="tw-flex tw-justify-end tw-pt-5">
        <div class="tw-flex tw-gap-4">
          <button [routerLink]="id ? '../../list' : '../list'" class="btn btn-outline-primary" type="button">Cancel</button>
          <button [disabled]="shipForm.invalid ||(isLoading$ | async)"  class="btn btn-primary" type="button" (click)="saveVehicle()">Save</button>
        </div>
      </div>
  </form>
</edit-container>
