<section class="bg-white max-md:min-w-100 min-lg:min-w-[850px] h-full p-[50px] overflow-auto">
    <div>
                <h2 class="heading-2 font-bold text-primary">Restrictions-R1</h2>
            </div>
            <div class="flex justify-center">
                <fa-icon icon="comment-lines" class="text-primary text-[160px]"></fa-icon>
            </div>
        
            <div class="mt-10">
                <h4 class="heading-4 text-center pb-10">Restrictions</h4>
                <p class="heading-6 text-center text-gray">
                    There are no current or future Restrictions placed on this dock. To add a new restriction, go to the Restrictions menu.</p>
            </div>
    </section>