<div class="w-full px-4">

    <h1 class="heading-2 text-center mb-8">Set password</h1>

    <p class="mb-8 text-center text-muted text-xl">
      Fill in the fields below to set your password and make sure it is a strong password.
    </p>

      <form [formGroup]="setPasswordForm" class="w-full min-w-xs flex flex-col gap-4">
      <div iconic-password-wrapper [withCheckmark]="true" leftIcon="lock" [validationMessagesMetadata]="{'lengthMin':'8'}" class="w-full">
          <input formControlName="password" type="password" inputRef placeholder="Password" class="text-center">
      </div>

      <div iconic-password-wrapper [withCheckmark]="true" leftIcon="lock" [validationMessagesMetadata]="{'identicalField':'Password'}" class="w-full">
          <input formControlName="confirmPassword" type="password" inputRef placeholder="Confirm Password" class="text-center">
      </div>


          <div class="flex flex-col gap-4 text-center">
              <button [disabled]="isLoading$ | async" type="submit" class="btn btn-primary w-full" (click)="setPassword()">Set Password</button>
              <p class="text-center text-xl">Or go back to the
                  <a class="font-bold" routerLink="../../sign-in">
                      Sign in
                  </a>
                  page
              </p>
          </div>


      </form>


<!--    <form class="mb-6" [formGroup]="formGroup" class="flex flex-col gap-y-6">-->
<!--    <div iconic-password-wrapper leftIcon="lock" [validationMessagesMetadata]="{'lengthMin':'8'}">-->
<!--      <input inputRef type="password" formControlName="password" placeholder="Password">-->
<!--    </div>-->

<!--    <div iconic-password-wrapper leftIcon="lock" [validationMessagesMetadata]="{'identicalField':'Password'}">-->
<!--      <input inputRef type="password"-->
<!--             formControlName="confirm_password"-->
<!--             placeholder="Confirm Password">-->
<!--    </div>-->

<!--  </form>-->


<!--  <div class="w-full mt-8 text-center">-->
<!--    <button [disabled]="isLoading$ | async" type="submit" matRipple (click)="submit()"-->
<!--            [disabled]="formGroup.invalid || isLoading"-->
<!--            class="btn btn-primary mb-8 mx-auto w-full">-->
<!--      Set Password-->
<!--    </button>-->
<!--  </div>-->

</div>


