<full-empty-container>
    <div class="flex justify-center">
        <img src="assets/images/integration-icon.svg" />
    </div>

    <div class="mt-10">
        <h4 class="heading-4 text-center pb-10">Integrations</h4>
        <p class="heading-6 text-center text-gray" [innerHTML]="'This is the section where you set integrations<br> with other platforms and applications'"></p>
        <div class="text-center pt-10 flex justify-center px-10">
            <button routerLink="../add" type="button" class="btn btn-primary flex-grow h-[50px] max-w-[200px]">
                <span class="text-lg">Add Integrations</span>
            </button>
        </div>
    </div>
</full-empty-container>