<section *ngIf="(isLoading$ | async) || originalSource.length; else empty">
    <div class="tw-flex tw-items-center">
        <mat-button-toggle-group
            class="tw-flex tw-w-full tw-justify-end tw-items-center"
        >
            <button
                routerLink="../add"
                [disabled]="(isLoading$ | async) || false"
                class="tw-bg-primary tw-text-white hover:tw-bg-primary-dark tw-py-2 tw-min-h-[35px] min-md:tw-min-w-[120px] max-sm:tw-w-full tw-rounded-l max-lg:tw-w-full"
                type="button"
            >
                Add Berth
            </button>
            <button
                [disabled]="(isLoading$ | async) || false"
                class="tw-bg-primary tw-text-white hover:tw-bg-primary-dark tw-min-h-[35px] min-md:tw-min-w-[30px] max-sm:tw-w-full tw-rounded-r"
                type="button"
                [matMenuTriggerFor]="menu"
            >
                <fa-icon
                    [icon]="['fas', 'caret-down']"
                    size="2x"
                    class="tw-mx-2 tw-cursor-pointer tw-text-white"
                >
                </fa-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before" class="!tw-bg-white">
                <button
                    [disabled]="(isLoading$ | async) || false"
                    (click)="openImportModal()"
                    mat-menu-item
                >
                    Import .xlsx
                </button>
            </mat-menu>
        </mat-button-toggle-group>
    </div>
    <material-panel-table
        [showSearchbar]="false"
        [showHeader]="true"
        tableTitle="Berths"
    >
        <div table class="tw-w-full tw-shadow-lg">
            <ng-scrollbar track="vertical" class="tw-min-h-[calc(100vh-200px)]">
                <table
                    class="material-table no-wrap tw-overflow-hidden"
                    matSort
                    (matSortChange)="sortData($event)"
                    [class.loading]="isLoading$ | async"
                    aria-label="Usage Table"
                    cdk-table
                    [dataSource]="dataSource"
                >
                    <ng-container cdkColumnDef="name" >
                        <th cdk-header-cell *cdkHeaderCellDef  scope="col">
                            <section class="tw-flex tw-flex-col tw-justify-center tw-gap-4" >
                                <div mat-sort-header="name">Port name</div>
                                <searchbar >
                                    <fa-icon icon="search"></fa-icon>
                                    <input
                                        #searchName
                                        input
                                        type="text"
                                        (keyup)="
                                            applyFilter($event.target, 'name')
                                        "
                                    />
                                    <div
                                        [style.visibility]="
                                            searchName.value
                                                ? 'visible'
                                                : 'hidden'
                                        "
                                        close
                                        (click)="
                                            searchName.value = '';
                                            applyFilter({ value: '' }, 'name')
                                        "
                                    >
                                        <fa-icon icon="close"></fa-icon>
                                    </div>
                                </searchbar>
                            </section>
                        </th>
                        <td class="tw-w-2/12" cdk-cell *cdkCellDef="let row">{{ row.name }}</td>
                    </ng-container>

                    <ng-container cdkColumnDef="status">
                        <th cdk-header-cell *cdkHeaderCellDef scope="col">
                            <section class="tw-flex tw-flex-col tw-gap-4">
                                <div mat-sort-header="status">Status</div>
                                <!-- <searchbar>
                                    <fa-icon icon="search"></fa-icon>
                                    <input
                                        #searchStatus
                                        input
                                        type="text"
                                        (keyup)="
                                            applyFilter($event.target, 'status')
                                        "
                                    />
                                    <div
                                        [style.visibility]="
                                            searchStatus.value
                                                ? 'visible'
                                                : 'hidden'
                                        "
                                        close
                                        (click)="
                                            searchStatus.value = '';
                                            applyFilter({ value: '' }, 'status')
                                        "
                                    >
                                        <fa-icon icon="close"></fa-icon>
                                    </div>
                                </searchbar>
                            </section>
                        </th>
                        <td class="tw-w-2/12" cdk-cell *cdkCellDef="let row">{{ row.status }}</td> -->
                        <select (change)="filterByStatus($event)" filter-select>
                            <option value="" selected>Select</option>
                            <option [value]="true">Active</option>
                            <option [value]="false">In Active</option>
                        </select>
                    </section>
                  </th>
                  <td cdk-cell *cdkCellDef="let row;let i = index">
                    <mat-chip [ngClass]="{
                      '!tw-bg-green-200': row.status,
                      '!tw-bg-red-200': !row.status
                    }">{{row.status ? 'Active' : 'In Active'}}</mat-chip>
                  </td>
                    </ng-container>

                    <ng-container cdkColumnDef="addrCoordinates">
                        <th cdk-header-cell *cdkHeaderCellDef scope="col">
                            <section class="tw-flex tw-flex-col tw-gap-4">
                                <div mat-sort-header="addrCoordinates">
                                    Coordinates
                                </div>
                                <searchbar>
                                    <fa-icon icon="search"></fa-icon>
                                    <input
                                        #searchCoordinates
                                        input
                                        type="text"
                                        (keyup)="
                                            applyFilter(
                                                $event.target,
                                                'addrCoordinates'
                                            )
                                        "
                                    />
                                    <div
                                        [style.visibility]="
                                            searchCoordinates.value
                                                ? 'visible'
                                                : 'hidden'
                                        "
                                        close
                                        (click)="
                                            searchCoordinates.value = '';
                                            applyFilter(
                                                { value: '' },
                                                'addrCoordinates'
                                            )
                                        "
                                    >
                                        <fa-icon icon="close"></fa-icon>
                                    </div>
                                </searchbar>
                            </section>
                        </th>
                        <td class="tw-w-3/12" cdk-cell *cdkCellDef="let row">
                            {{ row.addrCoordinates }}
                        </td>
                    </ng-container>
                    <!-- <ng-container cdkColumnDef="port">
                        <th cdk-header-cell *cdkHeaderCellDef scope="col">
                            <section class="tw-flex tw-flex-col tw-gap-4 tw-w-40">
                                <div mat-sort-header="port">Port</div>
                                <searchbar>
                                    <fa-icon icon="search"></fa-icon>
                                    <input
                                        #searchPort
                                        input
                                        type="text"
                                        (keyup)="
                                            applyFilter($event.target, 'port')
                                        "
                                    />
                                    <div
                                        [style.visibility]="
                                            searchPort.value
                                                ? 'visible'
                                                : 'hidden'
                                        "
                                        close
                                        (click)="
                                            searchPort.value = '';
                                            applyFilter({ value: '' }, 'port')
                                        "
                                    >
                                        <fa-icon icon="close"></fa-icon>
                                    </div>
                                </searchbar>
                            </section>
                        </th>
                        <td class="tw-w-40" cdk-cell *cdkCellDef="let row">
                            {{ row.port.name }}
                        </td>
                    </ng-container> -->

                    <ng-container cdkColumnDef="length">
                        <th cdk-header-cell *cdkHeaderCellDef scope="col">
                            <section class="tw-flex tw-flex-col tw-gap-4">
                                <div mat-sort-header="length">Length (m)</div>
                                <searchbar>
                                    <fa-icon icon="search"></fa-icon>
                                    <input
                                        #searchLength
                                        input
                                        type="text"
                                        (keyup)="
                                            applyFilter($event.target, 'length')
                                        "
                                    />
                                    <div
                                        [style.visibility]="
                                            searchLength.value
                                                ? 'visible'
                                                : 'hidden'
                                        "
                                        close
                                        (click)="
                                            searchLength.value = '';
                                            applyFilter({ value: '' }, 'length')
                                        "
                                    >
                                        <fa-icon icon="close"></fa-icon>
                                    </div>
                                </searchbar>
                            </section>
                        </th>
                        <td class="tw-w-1/12" cdk-cell *cdkCellDef="let row">{{ row.length }}</td>
                    </ng-container>

                    <ng-container cdkColumnDef="width">
                        <th cdk-header-cell *cdkHeaderCellDef scope="col">
                            <section class="tw-flex tw-flex-col tw-gap-4">
                                <div mat-sort-header="width">Width (m)</div>
                                <searchbar>
                                    <fa-icon icon="search"></fa-icon>
                                    <input
                                        #searchWidth
                                        input
                                        type="text"
                                        (keyup)="
                                            applyFilter($event.target, 'width')
                                        "
                                    />
                                    <div
                                        [style.visibility]="
                                            searchWidth.value
                                                ? 'visible'
                                                : 'hidden'
                                        "
                                        close
                                        (click)="
                                            searchWidth.value = '';
                                            applyFilter({ value: '' }, 'width')
                                        "
                                    >
                                        <fa-icon icon="close"></fa-icon>
                                    </div>
                                </searchbar>
                            </section>
                        </th>
                        <td class="tw-w-1/12" cdk-cell *cdkCellDef="let row">
                            {{ row.width }}
                        </td>
                    </ng-container>

                    <ng-container cdkColumnDef="depth">
                        <th cdk-header-cell *cdkHeaderCellDef scope="col">
                            <section class="tw-flex tw-flex-col tw-gap-4">
                                <div mat-sort-header="depth">Depth (m)</div>
                                <searchbar>
                                    <fa-icon icon="search"></fa-icon>
                                    <input
                                        #searchDepth
                                        input
                                        type="text"
                                        (keyup)="
                                            applyFilter($event.target, 'depth')
                                        "
                                    />
                                    <div
                                        [style.visibility]="
                                            searchDepth.value
                                                ? 'visible'
                                                : 'hidden'
                                        "
                                        close
                                        (click)="
                                            searchDepth.value = '';
                                            applyFilter({ value: '' }, 'depth')
                                        "
                                    >
                                        <fa-icon icon="close"></fa-icon>
                                    </div>
                                </searchbar>
                            </section>
                        </th>
                        <td class="tw-w-1/12" cdk-cell *cdkCellDef="let row">{{ row.depth }}</td>
                    </ng-container>
                    <ng-container cdkColumnDef="actions">
                        <th cdk-header-cell *cdkHeaderCellDef scope="col">
                            <section class="tw-flex tw-flex-col tw-gap-4">
                                <div>Actions</div>
                                <button
                                    type="button"
                                    class="btn btn-outline-primary"
                                >
                                    Mass update
                                </button>
                            </section>
                        </th>
                        <td
                            cdk-cell
                            *cdkCellDef="let row"
                            class="tw-flex tw-gap-4 tw-w-2/12"
                        >
                            <fa-icon
                                icon="eye"
                                class="tw-text-primary tw-cursor-pointer"
                                size="lg"
                                [routerLink]="['../edit', row.id]"
                            ></fa-icon>
                            <fa-icon
                                icon="trash-can"
                                class="tw-text-primary tw-cursor-pointer"
                                size="lg"
                                (click)="openDeleteModal(row.id)"
                            ></fa-icon>
                        </td>
                    </ng-container>

                    <!-- Header and Row Declarations -->
                    <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
                    <tr
                        cdk-row
                        *cdkRowDef="let row; columns: displayedColumns"
                    ></tr>
                    <tr *cdkNoDataRow>
                        <td [colSpan]="displayedColumns.length">
                            <span *ngIf="isLoading$ | async">
                                <app-loader
                                    *ngIf="isLoading$ | async"
                                    [isContainer]="true"
                                    [fullScreen]="false"
                                ></app-loader>
                            </span>
                            <span
                                *ngIf="
                                    dataSource.length === 0 &&
                                    !(isLoading$ | async)
                                "
                                >Nu există înregistrări</span
                            >
                            <span
                                *ngIf="
                                    dataSource.length > 0 &&
                                    !(isLoading$ | async)
                                "
                                >Nicio înregistrare nu corespunde criteriilor de
                                căutare</span
                            >
                        </td>
                    </tr>
                </table>
            </ng-scrollbar>

            <mat-paginator
                [class.!tw-hidden]="dataSource.length === 0"
                [pageSizeOptions]="pageSizeOptions"
                [length]="length"
                [pageIndex]="pageIndex"
                (page)="onPaginateChange($event)"
                [pageSize]="pageSize"
                showFirstLastButtons
            >
            </mat-paginator>
        </div>
    </material-panel-table>
</section>
<ng-template #empty>
    <no-berths></no-berths>
</ng-template>
