.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled).active {
    background-color: #009C10 !important;
}

.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled).service {
    background-color: #FF7F0A !important;
}

.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled).inactive {
    background-color: #5E5E5E !important;
}
::ng-deep.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) .mdc-evolution-chip__text-label {
    color: #FFFFFF !important;
}
