<div class="overlay-content">
    <div class="card">
        <div class="left">
            <div class="tw-bg-[#FFFFFF] tw-rounded-full tw-w-[36px] tw-h-[36px]">
                <img
                    src="assets/images/circum_filter.svg"
                    alt=""
                    class="tw-translate-x-[6px] tw-translate-y-[8px]"
                />
            </div>
        </div>
        <div class="right">
            <div class="top">
                <div *ngIf="isActive === 1" class="tw-w-[198px]">
                    <h2 class="tw-mb-2 tw-text-[#000000] tw-text-sm tw-font-normal">
                        Filter by company
                    </h2>
                    <div iconic-select-wrapper [rightIcon]="['fas', 'caret-down']">
                        <mat-label>Cars</mat-label>
                        <select inputRef disabled label="Company" name="companyId" id="companyId">
                            <option value="" disabled selected>Company</option>
                            <!-- <option
                                *ngFor="let company of companies"
                                [value]="company.companyId"
                            >
                                {{ company.name }}
                            </option> -->
                        </select>
                    </div>
                </div>
                <div *ngIf="isActive === 2" class="tw-w-[198px]">
                    <h2 class="tw-mb-2 tw-text-[#000000] tw-text-sm tw-font-normal">
                        Filter by Status
                    </h2>
                    <div class="tw-grid tw-grid-cols-2">
                        <div
                            class="tw-flex tw-gap-1 tw-items-center tw-w-[100px] tw-px-5"
                        >
                            <input
                                type="checkbox"
                                id="On route"
                                name="On route"
                                class="tw-h-4 tw-w-4"
                            />
                            <label
                                for="On route"
                                class="tw-text-[#354050] tw-text-sm tw-font-normal"
                                >On route</label
                            >
                        </div>
                        <div
                            class="tw-flex tw-gap-1 tw-items-center tw-w-[100px] tw-px-5"
                        >
                            <input
                                type="checkbox"
                                id="Port"
                                name="Port"
                                class="tw-h-4 tw-w-4"
                            />
                            <label
                                for="Port"
                                class="tw-text-[#354050] tw-text-sm tw-font-normal"
                                >Port</label
                            >
                        </div>
                    </div>
                    <div class="tw-flex tw-flex-row tw-mt-3">
                        <div class="tw-flex tw-items-center tw-w-[100px] tw-px-5">
                            <input
                                type="checkbox"
                                id="Berth"
                                name="Berth"
                                class="tw-h-4 tw-w-4"
                            />&nbsp;
                            <label
                                for="Berth"
                                class="tw-text-[#354050] tw-text-sm tw-font-normal"
                                >Berth</label
                            >
                        </div>
                        <div class="tw-flex tw-items-center tw-w-[100px] tw-px-5">
                            <input
                                type="checkbox"
                                id="Exit"
                                name="Exit"
                                class="tw-h-4 tw-w-4"
                            />&nbsp;
                            <label
                                for="Exit"
                                class="tw-text-[#354050] tw-text-sm tw-font-normal"
                                >Exit</label
                            >
                        </div>
                    </div>
                </div>
                <div *ngIf="isActive === 3" class="tw-w-[198px]">
                    <h2 class="tw-mb-1 tw-text-[#000000] tw-text-sm tw-font-normal">
                        Filter by Time
                    </h2>
                    <div iconic-select-wrapper [rightIcon]="['fas', 'caret-down']">
                        <select inputRef name="companyId" id="companyId">
                            <option value="" disabled selected>Total Time</option>
                            <option
                                *ngFor="let company of companies"
                                [value]="company.companyId"
                            >
                                {{ company.name }}
                            </option>
                        </select>
                    </div>
                    <div
                        class="tw-flex tw-justify-between tw-items-center tw-w-[195px]"
                    >
                        <div class="tw-flex tw-gap-1 tw-items-center">
                            <input
                                type="radio"
                                id="Between"
                                name="Time"
                                value="Between"
                                checked
                                class="tw-h-2 tw-w-2"
                            />
                            <label
                                for="Between"
                                class="tw-text-xs tw-mt-1 tw-text-[#354050]"
                                >Between</label
                            >
                        </div>
                        <div class="tw-flex tw-gap-1 tw-items-center">
                            <input
                                type="radio"
                                id="More than"
                                name="Time"
                                value="More than"
                                class="tw-h-2 tw-w-2"
                            />
                            <label
                                for="More than"
                                class="tw-text-xs tw-mt-1 tw-text-[#354050]"
                                >More than</label
                            >
                        </div>
                        <div class="tw-flex tw-gap-1 tw-items-center">
                            <input
                                type="radio"
                                id="Less than"
                                name="Time"
                                value="Less than"
                                class="tw-h-2 tw-w-2"
                            />
                            <label
                                for="Less than"
                                class="tw-text-xs tw-mt-1 tw-text-[#354050]"
                                >Less than</label
                            >
                        </div>
                    </div>
                    <div class="tw-flex tw-justify-between tw-gap-2">
                        <div iconic-input-wrapper>
                            <input inputRef type="text" placeholder="Minutes" />
                        </div>
                        <div iconic-input-wrapper>
                            <input inputRef type="text" placeholder="Minutes" />
                        </div>
                    </div>
                </div>
                <div
                    class="tw-flex tw-flex-col tw-gap-1"
                    *ngIf="isActive === 4"
                    class="tw-w-[198px]"
                >
                    <h2 class="tw-text-[#000000] tw-text-sm tw-font-normal">
                        Filter by SID
                    </h2>
                    <div class="tw-mb-1">
                        <mat-form-field class="example-form-field">
                            <mat-label>ETA</mat-label>
                            <input matInput [matDatepicker]="datepicker" />
                            <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                            <mat-datepicker-toggle
                                matIconSuffix
                                [for]="datepicker"
                            ></mat-datepicker-toggle>
                            <mat-datepicker #datepicker>
                                <!-- <mat-datepicker-actions>
                                <button mat-button matDatepickerCancel>Cancel</button>
                                <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                              </mat-datepicker-actions> -->
                            </mat-datepicker>
                        </mat-form-field>
                        <!-- <mat-form-field>
                            <mat-label>ETA</mat-label>
                            <input matInput [matDatepicker]="picker">
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field> -->
                    </div>
                    <div
                        iconic-select-wrapper
                        class="tw-mb-1"
                        [rightIcon]="['fas', 'caret-down']"
                    >
                        <select inputRef name="companyId" id="companyId">
                            <option value="" disabled selected>
                                Departure port
                            </option>
                            <option
                                *ngFor="let company of companies"
                                [value]="company.companyId"
                            >
                                {{ company.name }}
                            </option>
                        </select>
                    </div>
                    <div
                        iconic-select-wrapper
                        class="tw-mb-1"
                        [rightIcon]="['fas', 'caret-down']"
                    >
                        <select inputRef name="companyId" id="companyId">
                            <option value="" disabled selected>Arival port</option>
                            <option
                                *ngFor="let company of companies"
                                [value]="company.companyId"
                            >
                                {{ company.name }}
                            </option>
                        </select>
                    </div>
                    <div iconic-input-wrapper class="tw-mb-1">
                        <input placeholder="Pilot Company" inputRef type="text" />
                    </div>
                    <div iconic-input-wrapper class="tw-mb-1">
                        <input placeholder="Agent" inputRef type="text" />
                    </div>
                </div>
            </div>
            <div class="tw-flex tw-justify-center">
                <hr class="tw-text-[#CCCCCC] tw-w-[194px]" />
            </div>
            <div class="bottom tw-content-center">
                <div class="tw-flex-col tw-mt-2 tw-w-25">
                    <img
                        [src]="
                            isActive === 1
                                ? 'assets/images/cardBuilding2.svg'
                                : 'assets/images/cardBuilding.svg'
                        "
                        alt=""
                        (click)="onImgClick(1)"
                    />
                </div>
                <span class="vl"></span>
                <div class="tw-flex-col tw-mt-2 tw-w-25">
                    <img
                        [src]="
                            isActive === 2
                                ? 'assets/images/cardChain2.svg'
                                : 'assets/images/cardChain.svg'
                        "
                        alt=""
                        (click)="onImgClick(2)"
                    />
                </div>
                <span class="vl"></span>
                <div class="tw-flex-col tw-mt-2 tw-w-25">
                    <img
                        [src]="
                            isActive === 3
                                ? 'assets/images/cardClock2.svg'
                                : 'assets/images/cardClock.svg'
                        "
                        alt=""
                        (click)="onImgClick(3)"
                    />
                </div>
                <span class="vl"></span>
                <div class="tw-flex-col tw-mt-2 tw-w-25">
                    <img
                        [src]="
                            isActive === 4
                                ? 'assets/images/cardBoat2.svg'
                                : 'assets/images/cardBoat.svg'
                        "
                        alt=""
                        (click)="onImgClick(4)"
                    />
                </div>
            </div>
        </div>
    </div>
    
    <div class="tw-mt-5" *ngIf="isActive === 1">
    <section class="result-container mat-elevation-z8" tabindex="0">
        <table mat-table [dataSource]="companies"> 
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class=" tbl-header"> Results (Filter by company) </th>
            <td class="tw-bg-white" mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </section>
    </div>
    <div class="tw-mt-5" *ngIf="isActive === 2">
    <section class="result-container mat-elevation-z8" tabindex="0">
        <table mat-table [dataSource]="companies"> 
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class=" tbl-header"> Results (Filter by status)</th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </section>
    </div>
    <div class="tw-mt-5" *ngIf="isActive === 3">
    <section class="result-container mat-elevation-z8" tabindex="0">
        <table mat-table [dataSource]="companies"> 
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class=" tbl-header"> Results (Filter by time)</th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </section>
    </div>
    <div class="tw-mt-5" *ngIf="isActive === 4">
    <section class="result-container mat-elevation-z8" tabindex="0">
        <table mat-table [dataSource]="companies"> 
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class=" tbl-header"> Results (Filter by SID)</th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </section>
    </div>
  </div>