<div class="max-md:tw-grid tw-gap-8 min-lg:tw-columns-3 max-md:tw-columns-1">
    <div routerLink="../list/transport-data" class="slide-in-bottom tw-max-w-sm tw-rounded-lg tw-overflow-hidden tw-shadow-lg tw-bg-white tw-p-20 tw-min-h-[380px] tw-cursor-pointer">
        <div class="tw-flex tw-justify-center tw-p-10 tw-border tw-border-gray tw-rounded-full tw-h-[150px] tw-w-[150px] tw-items-center tw-m-auto">
            <fa-icon icon="user-group" size="3x" class="tw-text-primary"></fa-icon>
        </div>
        <div class="tw-flex tw-justify-center tw-pt-5 tw-pb-10">
            <h4 class="heading-4 tw-text-gray">User Form</h4>
        </div>
    </div>

  <div routerLink="../list/transport-data" class="slide-in-bottom tw-mt-4 tw-max-w-sm tw-rounded-lg tw-overflow-hidden tw-shadow-lg tw-bg-white tw-p-20 tw-min-h-[380px] tw-cursor-pointer">
    <div class="tw-flex tw-justify-center tw-p-10 tw-border tw-border-gray tw-rounded-full tw-h-[150px] tw-w-[150px] tw-items-center tw-m-auto">
      <fa-icon icon="truck-fast" size="3x" class="tw-text-primary"></fa-icon>
    </div>
    <div class="tw-flex tw-justify-center tw-pt-5 tw-pb-10">
      <h4 class="heading-4 tw-text-gray">Vehicle Form</h4>
    </div>
  </div>

  <div routerLink="../list/transport-data" class="slide-in-bottom tw-mt-4 tw-max-w-sm tw-rounded-lg tw-overflow-hidden tw-shadow-lg tw-bg-white tw-p-20 tw-min-h-[380px] tw-cursor-pointer">
    <div class="tw-flex tw-justify-center tw-p-10 tw-border tw-border-gray tw-rounded-full tw-h-[150px] tw-w-[150px] tw-items-center tw-m-auto">
      <fa-icon icon="location-dot" size="3x" class="tw-text-primary"></fa-icon>
    </div>
    <div class="tw-flex tw-justify-center tw-pt-5 tw-pb-10">
      <h4 class="heading-4 tw-text-gray">Location Form</h4>
    </div>
  </div>

  <div routerLink="../list/transport-data" class="slide-in-bottom tw-mt-4 tw-max-w-sm tw-rounded-lg tw-overflow-hidden tw-shadow-lg tw-bg-white tw-p-20 tw-min-h-[380px] tw-cursor-pointer">
    <div class="tw-flex tw-justify-center tw-p-10 tw-border tw-border-gray tw-rounded-full tw-h-[150px] tw-w-[150px] tw-items-center tw-m-auto">
      <fa-icon icon="bolt-lightning" size="3x" class="tw-text-primary"></fa-icon>
    </div>
    <div class="tw-flex tw-justify-center tw-pt-5 tw-pb-10">
      <h4 class="heading-4 tw-text-gray">Operations Form</h4>
    </div>
  </div>

  <div routerLink="../list/transport-data" class="slide-in-bottom tw-mt-4  tw-max-w-sm tw-rounded-lg tw-overflow-hidden tw-shadow-lg tw-bg-white tw-p-20 tw-min-h-[380px] tw-cursor-pointer">
    <div class="tw-flex tw-justify-center tw-p-10 tw-border tw-border-gray tw-rounded-full tw-h-[150px] tw-w-[150px] tw-items-center tw-m-auto">
      <fa-icon icon="shield" size="3x" class="tw-text-primary"></fa-icon>
    </div>
    <div class="tw-flex tw-justify-center tw-pt-5 tw-pb-10">
      <h4 class="heading-4 tw-text-gray">Partner Form</h4>
    </div>
  </div>

  <div routerLink="../list/transport-data" class="slide-in-bottom tw-mt-4 tw-max-w-sm tw-rounded-lg tw-overflow-hidden tw-shadow-lg tw-bg-white tw-p-20 tw-min-h-[380px] tw-cursor-pointer">
    <div class="tw-flex tw-justify-center tw-p-10 tw-border tw-border-gray tw-rounded-full tw-h-[150px] tw-w-[150px] tw-items-center tw-m-auto">
      <fa-icon icon="phone" size="3x" class="tw-text-primary"></fa-icon>
    </div>
    <div class="tw-flex tw-justify-center tw-pt-5 tw-pb-10">
      <h4 class="heading-4 tw-text-gray">Contact Form</h4>
    </div>
  </div>

</div>
