<div class="max-w-lg px-4 py-4">
    <h2 mat-dialog-title>Add contact</h2>
    <div mat-dialog-content class="whitespace-pre-line mb-8 ">
        <div class="flex gap-2">
            <div class="w-full">
                <div iconic-select-wrapper [rightIcon]="['fas', 'caret-down']">
                    <select [disabled]="!!contact" inputRef name="contact" id="contact" (change)="setContact($event)" [(ngModel)]="contactId">
                        <option [value]="null" selected disabled>Select contact</option>
                        <option *ngFor="let contact of data.contacts" [value]="contact.id">{{contact.firstName}}</option>
                    </select>
                </div>
            </div>
            <div inputRef class="flex items-center h-[53px]">
                <button *ngIf="contact" type="button" (click)="resetContact()"><fa-icon class="text-danger font-bold" icon="close"></fa-icon></button>
            </div>
        </div>
        <div class="flex flex-col gap-4" *ngIf="contact">
            <div>
                <p class="text-columnCell font-bold pb-3">contact details</p>
                <div>
                    <div iconic-input-wrapper>
                        <input inputRef type="text" placeholder="contact name" [(ngModel)]="contact.firstName">
                    </div>
                </div>
                <div>
                    <div iconic-input-wrapper>
                        <input inputRef type="text" placeholder="Size" [(ngModel)]="contact.lastName">
                    </div>
                </div>
                <div>
                    <div iconic-input-wrapper>
                        <input inputRef type="text" placeholder="Brand" [(ngModel)]="contact.phoneNumber">
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <div mat-dialog-actions class="flex justify-around flex-wrap-reverse gap-4">
        <button tabIndex="-1" (click)="cancel()" class="btn btn-outline-primary min-w-[130px]">Cancel</button>
        <button [disabled]="!contact" tabIndex="-1" (click)="confirm()" class="btn btn-primary min-w-[130px]">Add</button>
    </div>
</div>
  