<mat-sidenav-container [ngClass]="{'!absolute top-0 bottom-0 left-0 right-0': sidenav.opened}" autosize>
    <mat-sidenav #sidenav mode="over" position="end" fullscreen>
        <ng-container [ngSwitch]="(componentName$ | async)">
            <scheduling-edit-plan *ngSwitchCase="'edit'" [sidenav]="sidenav" [isLoading]="!!(isLoading$ | async)"
                [planning$]="editPlanning$" (triggerUpdatePlanning)="openPlanEditModal($event)"
                [filterDate]="filterDate" (triggerFetchPlannings)="handleDateChange($event)"></scheduling-edit-plan>
            <scheduling-view-modal [planning$]="editPlanning$" [id]="logId" *ngSwitchCase="'view'" [modal]="logModal"
                [sidenav]="sidenav"></scheduling-view-modal>
            <scheduling-send-message [planning$]="editPlanning$" *ngSwitchCase="'mess'" [sidenav]="sidenav"
                (triggerPlanUpgradeWarning)="handleOpenPlanUpgradeWarning()"></scheduling-send-message>
        </ng-container>
    </mat-sidenav>
    <mat-sidenav-content>
        <h3 class="max-xl:block min-xl:hidden heading-3 mr-5 mobile-view">{{'Planning list' | translate}}</h3>
        <div
            [ngClass]="{'gap-8' : !(isTableView$ | async), 'gap-0' : (isTableView$ | async) , 'flex-grow flex flex-col' : true}">
            <div class="flex min-lg:justify-between sm:justify-center lg:flex-row max-lg:flex-col gap-4">
                <div class="flex gap-4 max-lg:flex-col items-center justify-stretch">
                    <h3 class="min-xl:block max-xl:hidden heading-4 mr-5 w-full desktop-view">
                        {{'Planning list' | translate}}</h3>
                    <!-- <app-scheduling-search-bar (emitFilterChange)="setSingleSearchFilter($event)">
                            </app-scheduling-search-bar> -->
                    <div class="w-full">
                        <datepicker matTooltipClass="drop-shadow-lg" matTooltipPosition="above"
                            [matTooltip]="'Planning date' | translate" (dateChanged)="handleDateChange($event)"
                            [model]="filterDate" [isHeaderPosition]="true" [height]="37"></datepicker>
                    </div>
                    <div *ngIf="(isComvexOrganization$ | async)" class="flex items-center gap-2 h-[37px] w-full">
                        <app-toggle (onModelChange)="isComvexReorder$.next($event)"
                            [model]="!!(isComvexReorder$ | async)" class="h-[30px]"></app-toggle>
                        <label>{{(isComvexReorder$ | async) ? 'Reorder mode' : 'Freezed mode'}}</label>
                    </div>
                    <div *ngIf="false" class="w-full">
                        <div class="flex gap-4 items-center whitespace-nowrap">
                            <input id="viewed" type="checkbox"
                                class="border border-textDefault cursor-pointer w-[28px] h-[28px]">
                            <label for="viewed" class="max-xl:hidden min-xl:block heading-5 cursor-pointer">Exclude
                                past
                                SIDs</label>
                            <label for="viewed" class="max-xl:block min-xl:hidden cursor-pointer">Exclude past
                                SIDs</label>
                        </div>
                    </div>
                </div>
                <div class="flex items-center">
                    <mat-button-toggle-group class="flex w-full justify-end items-center"
                        *ngIf="userRole === 'ROLE_USER_TRANSPORT'">
                        <button routerLink="../add" [disabled]="(isLoading$ | async) || false"
                            class="bg-primary text-white hover:bg-primary-dark py-2 min-h-[35px] min-md:min-w-[120px] max-sm:w-full rounded-l max-lg:w-full"
                            type="button">
                            {{'Add SID' | translate}}
                        </button>
                        <button [disabled]="(isLoading$ | async) || false"
                            class="bg-primary text-white hover:bg-primary-dark min-h-[35px] min-md:min-w-[30px] max-sm:w-full rounded-r"
                            type="button" [matMenuTriggerFor]="menu">
                            <fa-icon [icon]="['fas', 'caret-down']" size="2x" class="mx-2 cursor-pointer text-white">
                            </fa-icon>
                        </button>
                        <mat-menu #menu="matMenu" xPosition="before" class="!bg-white">
                            <button [disabled]="(isLoading$ | async) || false" (click)="openImportModal()"
                                mat-menu-item>Import .xlsx</button>
                        </mat-menu>
                    </mat-button-toggle-group>
                    <fa-icon icon="truck" size="2x" [matMenuTriggerFor]="sidType" #trigger="matMenuTrigger"
                        matTooltipClass="drop-shadow-lg" matTooltipPosition="above" [matTooltip]="'truck' | translate"
                        class="mx-2 cursor-pointer hover:text-primary">
                    </fa-icon>
                    <mat-menu #sidType="matMenu" class="!bg-white" xPosition="before">
                        <menu mat-menu-item>
                            {{'ship' | translate}}
                        </menu>
                        <menu mat-menu-item>
                            {{'train' | translate}}
                        </menu>
                        <menu mat-menu-item>
                            <!-- <fa-icon icon="plane" size="1x" class="mx-2 cursor-pointer hover:text-primary">
                                    </fa-icon> -->
                            {{'plane' | translate}}
                        </menu>
                    </mat-menu>
                    <fa-icon icon="grid-2" size="2x" matTooltipClass="drop-shadow-lg" matTooltipPosition="above"
                        [matTooltip]="'table' | translate" *ngIf="!(isTableView$ | async)"
                        [ngClass]="{'text-[#17A0B5]': !(isTableView$ | async),'mx-2 cursor-pointer' : true}"
                        (click)="isTableView$.next(true); retrievePlanningList()">
                    </fa-icon>
                    <fa-icon icon="list" size="2x" matTooltipClass="drop-shadow-lg" matTooltipPosition="above"
                        [matTooltip]="'card' | translate" *ngIf="(isTableView$ | async)"
                        [ngClass]="{'text-[#17A0B5]': (isTableView$ | async),'mx-2 cursor-pointer' : true}"
                        (click)="isTableView$.next(false)">
                    </fa-icon>
                </div>
            </div>
            <div *ngIf="!(isTableView$ | async)"
                class="min-lg:grid gap-4 min-lg:grid-cols-[420px_minmax(900px,_1fr)_100px] max-lg:flex max-lg:flex-col"
                cdkDropListGroup>
                <ng-scrollbar visibility="always" *ngIf="!(isMobileCardList$ | async)" track="vertical"
                    appearance="standard" (reachedBottom)="onBottomReached()" [reachedOffset]="350">
                    <div scrollViewport dropListScroller cdkDropList [cdkDropListData]="plannings"
                        (cdkDropListDropped)="drop($event)">
                        <app-loader [isContainer]="true" *ngIf="(isLoading$ | async)" [fullScreen]="false"></app-loader>
                        <ng-container *ngIf="!(isLoading$ | async)">
                            <scheduling-card *ngFor="let item of plannings" (triggerSideNav)="toggleSidenav($event)"
                                (click)="getCardDetails(item)" [statuses]="statuses"
                                (triggerCancellation)="openCancellationModal($event)"
                                [isUmexOrganization]="(isUmexOrganization$ | async)"
                                (triggerCheckIn)="openCheckinModal($event)"
                                (triggerCheckOut)="openCheckOutModal($event)" (triggerReject)="openRejectModal($event)"
                                (triggerAccept)="openPlanModal($event)" (triggerDeletion)="openDeleteModal($event)"
                                [cdkDragData]="item" cdkDrag (cdkDragStarted)="getCardDetails(item)" [planning]="item"
                                [userRole]="userRole" (triggerOpenLogs)="toggleSidenav($event)">
                                <div *cdkDragPreview class="square" [ngStyle]="{backgroundColor: 'blue' }">
                                </div>
                            </scheduling-card>
                            <scheduling-card [isloading]="newCardsLoading$"
                                *ngIf="(newCardsLoading$ | async)"></scheduling-card>
                            <app-loader [isContainer]="false" *ngIf="(cardLoading$ | async)"
                                [fullScreen]="false"></app-loader>
                        </ng-container>
                        <no-scheduling *ngIf="!(isLoading$ | async) && !plannings.length"
                            [userRole]="userRole"></no-scheduling>
                    </div>
                </ng-scrollbar>
                <!-- <div *ngIf="(isMobileCardList$ | async)" class="flex flex-col gap-4 card-container">
                            <div dropListScroller cdkDropList [cdkDropListData]="plannings" (cdkDropListDropped)="drop($event)">
                                <app-loader [isContainer]="true" *ngIf="(isLoading$ | async)" [fullScreen]="false"></app-loader>
                                <ng-container *ngIf="!(isLoading$ | async)">
                                    <scheduling-card *ngFor="let item of plannings" (triggerSideNav)="toggleSidenav($event)"
                                        [statuses]="statuses" (triggerCancellation)="openCancellationModal($event)"
                                        [isUmexOrganization]="(isUmexOrganization$ | async)" [isMaxWidth]="true"
                                        (triggerCheckIn)="openCheckinModal($event)"
                                        (triggerCheckOut)="openCheckOutModal($event)" (triggerReject)="openRejectModal($event)"
                                        (triggerAccept)="openPlanModal($event)" (triggerDeletion)="openDeleteModal($event)"
                                        [cdkDragData]="item" cdkDrag [planning]="item">
                                        <div *cdkDragPreview class="square" [ngStyle]="{backgroundColor: 'blue' }">
                                        </div>
                                    </scheduling-card>
                                    <app-loader [isContainer]="false" *ngIf="(cardLoading$ | async)"
                                        [fullScreen]="false"></app-loader>
                                </ng-container>
                                <no-scheduling *ngIf="!(isLoading$ | async) && !plannings.length"></no-scheduling>
                            </div>
                        </div> -->
                <div class="col-span-2">
                    <div
                        class="bg-white w-full min-h-[550px] items-center justify-center {{!(isCardDetailsLoading$ | async) ? '' : 'flex'}}">
                        <app-loader class="m-auto flex-grow" *ngIf="(isCardDetailsLoading$ | async)"
                            [fullScreen]="false" [isContainer]="false"></app-loader>
                        <div *ngIf="!(isCardDetailsLoading$ | async) && plannings.length" class="p-12">
                            <div class="flex justify-between min-lg:items-center max-lg:flex-col">
                                <div>
                                    <h2 class="heading-2 font-bold text-primary">Shipment SID - {{planning.rId
                                        ||
                                        '-'}}
                                    </h2>
                                </div>
                            </div>
                            <div class="pb-10 pt-4">
                                <div class="flex min-lg:justify-between min-lg:items-center max-lg:flex-col">
                                    <div>
                                        <h3 class="heading-2 text-primary">Route Details : </h3>
                                    </div>
                                </div>
                                <div class="grid min-lg:grid-cols-2 max-md:grid-cols-1 py-2 gap-y-4">
                                    <div class="font-bold text-xl"><span class="font-bold heading-5">Convoy Type
                                            :
                                        </span>- {{planning.convoyType}}</div>
                                    <div class="font-bold text-xl"><span class="font-bold heading-5">Arrival
                                            Gauge :
                                        </span>- {{planning.arrivalGauge}}</div>
                                    <div class="font-bold text-xl"><span class="font-bold heading-5">Arrival
                                            Port :
                                        </span>- {{planning.arrivalPort}}</div>
                                    <div class="font-bold text-xl"><span class="font-bold heading-5">Departure
                                            Port
                                            : </span>- {{planning.departurePort}}</div>
                                    <div class="font-bold text-xl"><span class="font-bold heading-5">Location
                                            Port :
                                        </span>- {{planning.locationPort}}</div>
                                    <div class="font-bold text-xl"><span class="font-bold heading-5">Pilot
                                            Company :
                                        </span>- {{planning.pilotCompany}}</div>
                                    <div class="font-bold text-xl"><span class="font-bold heading-5">Max
                                            Capacity :
                                        </span>- {{planning.maxCapacity}}</div>
                                    <div class="font-bold text-xl"><span class="font-bold heading-5">Max Draft :
                                        </span>- {{planning.maxDraft}}</div>
                                    <div class="font-bold text-xl"><span class="font-bold heading-5">Length :
                                        </span>- {{planning.length}}</div>
                                    <div class="font-bold text-xl"><span class="font-bold heading-5">Width :
                                        </span>- {{planning.width}}</div>
                                    <div class="font-bold text-xl"><span class="font-bold heading-5">Zone :
                                        </span>-
                                        {{planning.zone}}</div>
                                    <div class="font-bold text-xl"><span class="font-bold heading-5">Lock Type :
                                        </span>- {{planning.lockType}}</div>
                                    <div class="font-bold text-xl"><span class="font-bold heading-5">ETA :
                                        </span>-
                                        {{planning.estimatedTimeArrival}}</div>
                                    <div class="font-bold text-xl"><span class="font-bold heading-5">RTA :
                                        </span>-
                                        {{planning.relativeTimeArrival}}</div>
                                </div>
                            </div>
                        </div>
                        <no-scheduling *ngIf="!(isCardDetailsLoading$ | async) && !plannings.length"
                            [userRole]="userRole"></no-scheduling>
                    </div>
                </div>
            </div>
            <div class="grid mt-4" *ngIf="(isTableView$ | async)">
                <app-loader *ngIf="isLoading$ | async" [isContainer]="true" [fullScreen]="false"></app-loader>
                <app-planning-list (triggerOpenLogs)="toggleSidenav($event)" [userRole]="userRole"
                    [plannings]="plannings" [length]="length" [isTableLoading$]="isTableLoading$"
                    (onPaginate)="onPaginateChange($event)"
                    (retrievePlannings)="retrievePlanningList()"></app-planning-list>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
