<div class="flex-grow flex flex-col gap-8">
    <div class="flex sm:justify-center md:flex-row max-md:flex-col">
        <h4 class="heading-4 mr-3">Settings</h4>
    </div>
    <div class="flex justify-center mt-10 max-md:grid gap-8 min-lg:columns-2 max-md:columns-1">
        <div routerLink="../ports"
            class="slide-in-bottom max-w-[300px] rounded-lg overflow-hidden shadow-lg bg-white p-20 min-h-[400px] cursor-pointer">
            <div
                class="flex justify-center p-10 border border-gray rounded-full h-[150px] w-[150px] items-center m-auto">
                <img src="assets/images/noun-ancor.svg">
            </div>
            <div class="flex justify-center pt-5 pb-10">
                <h4 class="heading-4 text-gray">Ports</h4>
            </div>
        </div>

        <div routerLink="../users"
            class="slide-in-bottom max-w-[300px] rounded-lg overflow-hidden shadow-lg bg-white p-20 min-h-[400px] cursor-pointer">
            <div
                class="flex justify-center p-10 border border-gray rounded-full h-[150px] w-[150px] items-center m-auto">
                <img src="assets/images/vector.svg">
            </div>
            <div class="flex justify-center pt-5 pb-10">
                <h4 class="heading-4 text-gray">Users</h4>
            </div>
        </div>
    </div>
    <div class="flex justify-center mt-10 max-md:grid gap-8 min-lg:columns-2 max-md:columns-1">
        <div routerLink="../berths"
            class="slide-in-bottom max-w-[300px] rounded-lg overflow-hidden shadow-lg bg-white p-20 min-h-[400px] cursor-pointer">
            <div
                class="flex justify-center p-10 border border-gray rounded-full h-[150px] w-[150px] items-center m-auto">
                <img src="assets/images/berths.svg">
            </div>
            <div class="flex justify-center pt-5 pb-10">
                <h4 class="heading-4 text-gray">Berths</h4>
            </div>
        </div>

        <div routerLink="../companies"
            class="slide-in-bottom max-w-[300px] rounded-lg overflow-hidden shadow-lg bg-white p-20 min-h-[400px] cursor-pointer">
            <div
                class="flex justify-center p-10 border border-gray rounded-full h-[150px] w-[150px] items-center m-auto">
                <img src="assets/images/companies.svg">
            </div>
            <div class="flex justify-center pt-5 pb-10">
                <h4 class="heading-4 text-gray">Companies</h4>
            </div>
        </div>
    </div>
</div>
