<section class="tw-bg-white max-md:tw-min-w-100 min-lg:tw-min-w-[850px] tw-h-full tw-p-[50px] tw-overflow-auto">
    <div class="tw-flex tw-justify-between min-lg:tw-items-center max-lg:tw-flex-col">
        <div><h2 class="heading-2 tw-font-bold tw-text-primary">Shipment ID - {{(planning$ | async)?.sId}}</h2></div>
        <div>
            <datepicker (dateChanged)="triggerFetchPlannings.emit($event)" [model]="filterDate" [isHeaderPosition]="true" [height]="37"></datepicker>
        </div>
    </div>
    <div class="tw-py-10">
        <div class="tw-flex min-lg:tw-justify-between min-lg:tw-items-center max-lg:tw-flex-col">
            <div><h4 class="heading-4 tw-text-primary">Shipment Details</h4></div>
        </div>
        <div class="tw-grid min-lg:tw-grid-rows-3 min-lg:tw-grid-cols-2 max-md:tw-grid-rows-6 max-md:tw-grid-cols-1 tw-py-2">
            <div><span class="tw-font-bold">Status: </span> <mat-chip [ngStyle]="{
                'background': (planning$ | async)?.statusColor
            }">{{(planning$ | async)?.status || 'No status'}}</mat-chip> </div>
            <div><span class="tw-font-bold">Driver: </span> {{(planning$ | async)?.driverName || '-'}}</div>
            <div><span class="tw-font-bold">Operation: </span> {{((planning$ | async)?.operation) || '-'}}</div>
            <div><span class="tw-font-bold">Auto License Plate: </span> {{(planning$ | async)?.truckLicensePlateFront || '-'}}</div>
            <div><span class="tw-font-bold">Products: </span> {{(planning$ | async)?.products || '-'}}</div>
            <div><span class="tw-font-bold">Avize marfa: </span> -</div>
        </div>
    </div>
    <app-loader class="tw-m-auto tw-flex-grow" *ngIf="isLoading" [fullScreen]="false"></app-loader>
    <div *ngIf="!isLoading">
        <h4 class="heading-4 tw-font-bold tw-text-primary tw-mb-3">Shipment Planning</h4>
        <scheduling-table [isLoadingDashboard]="isLoading" (onToggleModal)="triggerUpdatePlanning.emit($event)" 
        [isToggleOpened]="true" [filterDate]="filterDate"></scheduling-table>
        <div class="tw-flex tw-justify-end">
            <button type="button" class="btn tw-px-10 btn-primary" (click)="sidenav.close()">Save</button>
        </div>
    </div>
</section>
