<div class="tw-flex tw-flex-col">
  <h1 class="heading-2 tw-text-center tw-mb-8">Forgot password</h1>

  <p class="tw-mb-8 tw-text-center tw-text-muted tw-text-xl">
    Tell us your email or phone and we will send you a reset password link.
  </p>
  <form class="tw-mb-6 tw-flex tw-flex-col tw-min-w-xs tw-gap-y-6" [formGroup]="formGroup">

    <div iconic-input-wrapper leftIcon="user">
      <input type="email" inputRef formControlName="email" placeholder="Email">
    </div>

  </form>
<!--    [disabled]="isLoading$ | async"-->
  <button (click)="forgotPassword()" [disabled]="isLoading$ | async" type="button" matRipple
    class="btn btn-primary tw-mb-8 tw-min-w-xs">
    Reset Password
  </button>

  <p class="tw-text-center tw-text-xl">Or go back to the
    <a class="tw-font-bold" routerLink="../sign-in">
      Sign in
    </a>
    page
  </p>

</div>
