<div class="flex flex-col">
  <h1 class="heading-2 text-center mb-8">Forgot password</h1>

  <p class="mb-8 text-center text-muted text-xl">
    Tell us your email or phone and we will send you a reset password link.
  </p>
  <form class="mb-6 flex flex-col min-w-xs gap-y-6" [formGroup]="formGroup">

    <div iconic-input-wrapper leftIcon="user">
      <input type="email" inputRef formControlName="email" placeholder="Email">
    </div>

  </form>
<!--    [disabled]="isLoading$ | async"-->
  <button (click)="forgotPassword()" [disabled]="isLoading$ | async" type="button" matRipple
    class="btn btn-primary mb-8 min-w-xs">
    Reset Password
  </button>

  <p class="text-center text-xl">Or go back to the
    <a class="font-bold" routerLink="../sign-in">
      Sign in
    </a>
    page
  </p>

</div>
