@import '../../../assets/scss/variables';

:host {
    @media screen and (min-width: 577px) {
        ::ng-deep .iconic-layout-wrapper > .input-container,
        button[type="submit"] {
            min-width: 435px
        }
    }

    ::ng-deep .iconic-layout-wrapper > .input-container {
        padding: 1.1rem 1.4rem;
        // max-height: 60px;
        height: 60px;
        text-align: center;
    }
    
    ::ng-deep .iconic-layout-wrapper > .input-container::placeholder {
        color: $input-placeholder;
    }
    
    button[type="button"] {
        height: 50px;
        font-size: 18px;
    }
}