<edit-container [headerTitle]="id ? 'Edit berth details' : 'Add berth details'">
    <app-loader
        *ngIf="isLoading$ | async"
        [isContainer]="true"
        [fullScreen]="false"
    ></app-loader>
    <form *ngIf="!(isLoading$ | async)" [formGroup]="berthForm">
        <div>
            <div class="min-xl:tw-columns-3">
                <h6 class="tw-font-bold">Berth Name</h6>
                <div class="tw-h-[75px]">
                    <div iconic-input-wrapper leftIcon="location-dot">
                        <input
                            placeholder="Berth name"
                            inputRef
                            type="text"
                            id="BerthName"
                            formControlName="name"
                        />
                    </div>
                </div>
                <h6 class="tw-font-bold">Google Maps coordinates (Plus code)</h6>
                <div class="tw-h-[75px]">
                    <div iconic-input-wrapper leftIcon="compass">
                        <input
                            placeholder="Google Maps coordinates (Plus code)"
                            inputRef
                            type="text"
                            formControlName="addrCoordinates"
                        />
                        <p>123</p>
                    </div>
                </div>
                <h6 class="tw-font-bold">Port</h6>
                <div class="tw-h-[75px]">
                    <div iconic-select-wrapper leftIcon="grid-2" [rightIcon]="['fas', 'caret-down']">
                        <select inputRef name="shipType" id="portId" formControlName="portId">
                            <!-- <option value="null" disabled>Port*</option> -->
                            <option *ngFor="let port of portList" [value]="port.portId">{{port.name}}</option>
                        </select>
                      </div>
                </div>
            </div>
            <div class="min-xl:tw-columns-3 tw-mb-10">
                <div>&nbsp;</div>
                <div>
                    <div class="tw-text-right tw-font-bold tw-cursor-pointer">
                        How do I find Google maps coordinates?
                    </div>
                </div>
                <div>&nbsp;</div>
            </div>
            <div class="min-xl:tw-columns-3">
                <h6 class="tw-font-bold">Length (m)</h6>
                <div class="tw-h-[75px]">
                    <div iconic-input-wrapper leftIcon="location-dot">
                        <input
                            placeholder="length"
                            inputRef
                            type="number"
                            id="length"
                            formControlName="length"
                        />
                    </div>
                </div>
                <h6 class="tw-font-bold">Width (m)</h6>
                <div class="tw-h-[75px]">
                    <div iconic-input-wrapper leftIcon="compass">
                        <input
                            placeholder="Google Maps coordinates (Plus code)"
                            inputRef
                            type="number"
                            formControlName="width"
                        />
                    </div>
                </div>
                <h6 class="tw-font-bold">Depth (m)</h6>
                <div class="tw-h-[75px]">
                    <div iconic-input-wrapper leftIcon="compass">
                        <input
                            placeholder="Google Maps coordinates (Plus code)"
                            inputRef
                            type="number"
                            formControlName="depth"
                        />
                    </div>
                </div>
                
            </div>
        </div>

        <div class="tw-flex tw-justify-center tw-pt-5">
            <div class="tw-flex tw-gap-4">
                <button
                    [routerLink]="id ? '../../list' : '../list'"
                    class="btn btn-outline-primary min-lg:tw-min-w-[250px]"
                    type="button"
                    [disabled]="isLoading$ | async"
                >
                    Cancel
                </button>
                
                <button
                    class="btn btn-primary min-lg:tw-min-w-[250px]"
                    type="button"
                    (click)="saveBerth()"
                    [disabled]="berthForm.invalid || (isLoading$ | async)"
                >
                    Save
                </button>
            </div>
        </div>
    </form>
</edit-container>
