<edit-container [headerTitle]="id ? 'Edit Berth' : 'Add Berth'">
    <app-loader
        *ngIf="isLoading$ | async"
        [isContainer]="true"
        [fullScreen]="false"
    ></app-loader>
    <form *ngIf="!(isLoading$ | async)" [formGroup]="berthForm">
        <div>
            <h6 class="font-bold mb-3">Details</h6>
            <div class="min-xl:columns-3">
                <h6 class="font-bold">Berth Name</h6>
                <div class="h-[75px]">
                    <div iconic-input-wrapper leftIcon="location-dot">
                        <input
                            inputRef
                            type="text"
                            id="BerthName"
                            formControlName="name"
                        />
                    </div>
                </div>
                <h6 class="font-bold">Google Maps coordinates (Plus code)</h6>
                <div class="h-[75px]">
                    <div iconic-input-wrapper leftIcon="compass">
                        <input
                            inputRef
                            type="text"
                            formControlName="addrCoordinates"
                        />
                        <p>123</p>
                    </div>
                </div>
                <h6 class="font-bold">Port</h6>
                <div class="h-[75px]">
                    <div iconic-select-wrapper leftSvg="./assets/images/port-anchor.svg" [rightIcon]="['fas', 'caret-down']">
                        <select spAccessInputRef name="portId" id="portId" formControlName="portId" (change)="onPortChange($event)">
                            <!-- <option value="null" disabled>Port*</option> -->
                            <option *ngFor="let port of ports;" [value]="port.id">{{port.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="min-xl:columns-3 mb-10">
                <div>&nbsp;</div>
                <div>
                    <div class="text-right font-bold cursor-pointer">
                        How do I find Google maps coordinates?
                    </div>
                </div>
                <div>&nbsp;</div>
            </div>
            <div class="min-xl:columns-3">
                <h6 class="font-bold">Status</h6>
                <div class="h-[75px]">
                    <div iconic-select-wrapper leftIcon="eye" [rightIcon]="['fas', 'caret-down']">
                        <select spAccessInputRef name="status" id="status" formControlName="status">
                            <!-- <option value="" disabled>Auto Selected</option> -->
                            <option value="Active" selected>Active</option>
                            <option value="Service">Service</option>
                            <option value="Closed">Closed</option>
                        </select>
                      </div>
                </div>
                <h6 class="font-bold">Length (m)</h6>
                <div class="h-[75px]">
                    <div iconic-input-wrapper leftSvg="./assets/images/length-boat.svg">
                        <input
                            inputRef
                            type="number"
                            id="length"
                            formControlName="length"
                        />
                    </div>
                </div>

                <h6 class="font-bold">Depth (m)</h6>
                <div class="h-[75px]">
                    <div iconic-input-wrapper leftSvg="./assets/images/depth-boat.svg">
                        <input
                            inputRef
                            type="number"
                            formControlName="depth"
                        />
                    </div>
                </div>
            </div>
        </div>
        <div class="flex justify-center pt-5">
            <div class="flex gap-4">
                <button
                    [routerLink]="id ? '../../list' : '../list'"
                    class="btn btn-outline-primary min-lg:min-w-[250px]"
                    type="button"
                    [disabled]="isLoading$ | async"
                >
                    Cancel
                </button>

                <button
                    class="btn btn-primary min-lg:min-w-[250px]"
                    type="button"
                    (click)="saveBerth()"
                    [disabled]="berthForm.invalid || (isLoading$ | async)"
                >
                    Save
                </button>
            </div>
        </div>
    </form>
</edit-container>
