<ng-container *ngIf="formGroup; else simple">
    <form [formGroup]="formGroup">
        <div class="iconic-layout-wrapper">
            <div class="input-container" [ngStyle]="styles">
                <fa-icon (click)="picker.open()" icon="calendar-days" size="lg" class="icon tw-cursor-pointer"></fa-icon>
                <input onkeydown="return false" [ngStyle]="{'textAlign': textAlign}" (click)="picker.open()" type="text" [placeholder]="placeholder" [formControlName]="field" [matDatepicker]="picker">
                <fa-icon (click)="formGroup.get(field)?.patchValue(null)" *ngIf="formGroup.get(field)?.value" icon="close" size="lg" class="icon tw-cursor-pointer"></fa-icon>
                <mat-datepicker #picker></mat-datepicker>
            </div>
        </div>
    </form>
</ng-container>
<ng-template #simple>
    <div class="iconic-layout-wrapper">
        <div class="input-container tw-rounded" [ngStyle]="styles">
            <fa-icon (click)="picker.open()" icon="calendar-days" size="lg" class="icon tw-cursor-pointer"></fa-icon>
            <input onkeydown="return false" [ngStyle]="{'textAlign': textAlign}"
                    (click)="picker.open()" type="text" 
                    [placeholder]="placeholder" [(ngModel)]="model" (ngModelChange)="dateChanged.emit($event)" [matDatepicker]="picker">
            <fa-icon (click)="model = ''" *ngIf="model" icon="close" size="lg" class="icon tw-cursor-pointer"></fa-icon>
            <mat-datepicker #picker></mat-datepicker>
        </div>
    </div>
</ng-template>