<success-container headerTitle="Add list">
  <div>
    <h4 class="heading-4 py-10 text-center">Success!</h4>
    <p class="text-center heading-6 max-w-[929px] mx-auto">Your message was successfully finalized and an email was sent to you confirming the operation.
      Please make sure to follow the progress in this platform!</p>
  </div>
  <div class="text-center py-5">
    <fa-icon icon="party-horn" class="text-primary text-[270px]"></fa-icon>
  </div>
  <div class="flex justify-center max-md:flex-col min-xl:px-40 max-md:px-0 max-md:gap-5 min-md:max-w-[560px] max-sm:w-full m-auto gap-5">
    <button type="button" class="btn btn-primary min-lg:min-w-[200px]" routerLink="../../../">Home</button>
    <button type="button" class="btn btn-primary min-lg:min-w-[200px]" routerLink="../add">New Status</button>
  </div>
</success-container>
