<!--<edit-container headerTitle="Add port">-->
<edit-container [headerTitle]="id ? 'Edit Port' : 'Add Port'">
    <app-loader
        *ngIf="isLoading$ | async"
        [isContainer]="true"
        [fullScreen]="false"
    ></app-loader>
    <form *ngIf="!(isLoading$ | async)" [formGroup]="portForm">
        <div>
            <div>
                <h5 class="font-bold mb-3">Details</h5>
                <div class="min-xl:columns-3">
                    <h6 class="font-bold">Port Name</h6>
                    <div class="h-[75px]">
                        <div iconic-input-wrapper leftIcon="location-dot">
                            <input
                                inputRef
                                type="text"
                                id="portName"
                                formControlName="name"
                            />
                        </div>
                    </div>
                    <h6 class="font-bold">
                        Google Maps coordinates (Plus code)
                    </h6>
                    <div class="h-[75px]">
                        <div iconic-input-wrapper leftIcon="compass">
                            <input
                                inputRef
                                type="text"
                                formControlName="addrCoordinates"
                            />
                        </div>
                    </div>
                    <h6 class="font-bold">Picture (480 x 300 px)</h6>
                    <div class="h-[75px]">
                        <div *ngIf="(ports$ | async)?.imgPreview">
                            <label>&nbsp;</label>
                            <div class="relative w-[50px]">
                                <span
                                    class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-gray text-3xl cursor-pointer"
                                    (click)="clearImgPreview()"
                                    >&times;</span
                                >
                                <img
                                    [src]="(ports$ | async)?.imgPreview"
                                    alt="imgPreview"
                                    width="50"
                                    height="50"
                                />
                            </div>
                        </div>
                        <div *ngIf="!(ports$ | async)?.imgPreview">
                            <div
                                iconic-input-wrapper
                                leftIcon="camera"
                                class="cursor-pointer"
                                (click)="triggerFile.click()"
                            >
                                <input
                                    inputRef
                                    type="text"
                                    readonly
                                    #inputReference
                                />
                                <input
                                    style="display: none"
                                    type="file"
                                    #triggerFile
                                    accept="image/*"
                                    (change)="
                                        setImgPreview(
                                            $event.target,
                                            inputReference
                                        )
                                    "
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="min-xl:columns-3 mb-5">
                <div>&nbsp;</div>
                <div>
                    <div class="text-right font-bold cursor-pointer">
                        How do I find Google maps coordinates?
                    </div>
                </div>
                <div>&nbsp;</div>
            </div>
            <div>
                <h5 class="font-bold mb-3">Address</h5>
                <div class="min-xl:columns-3">
                    <div class="h-[90px]">
                        <h6 class="font-bold">Street</h6>
                        <div
                            iconic-input-wrapper
                            leftIcon="location-crosshairs"
                        >
                            <input
                                inputRef
                                type="text"
                                id="addrStreet"
                                formControlName="addrStreet"
                            />
                        </div>
                    </div>
                    <div class="h-[90px]">
                        <div class="min-md:flex gap-2">
                            <div class="flex-2">
                                <h6 class="font-bold">No.</h6>
                                <div iconic-input-wrapper>
                                    <input
                                        inputRef
                                        type="text"
                                        formControlName="addrStreetNo"
                                    />
                                </div>
                            </div>
                            <div class="flex-1">
                                <h6 class="font-bold">City</h6>
                                <div iconic-input-wrapper>
                                    <input
                                        inputRef
                                        type="text"
                                        formControlName="addrCity"
                                    />
                                </div>
                            </div>
                            <div class="flex-1">
                                <h6 class="font-bold">County</h6>
                                <div iconic-input-wrapper>
                                    <input
                                        inputRef
                                        type="text"
                                        formControlName="addrCounty"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="h-[90px]">
                        <div class="min-md:flex gap-2">
                            <div class="flex-1">
                                <h6 class="font-bold">Country</h6>
                                <div iconic-input-wrapper>
                                    <input
                                        inputRef
                                        type="text"
                                        formControlName="addrCountry"
                                    />
                                </div>
                            </div>
                            <div class="flex-1">
                                <h6 class="font-bold">Zip Code</h6>
                                <div iconic-input-wrapper>
                                    <input
                                        inputRef
                                        type="text"
                                        formControlName="addrZipCode"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h6 class="font-bold">Contact</h6>
                <div class="mt-10">
                    <table class="table border border-lightgray">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Capacity</th>
                                <th>Occupied Capacity</th>
                                <th>Client</th>
                                <th>Product</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody formArrayName="contacts">
                            <tr
                                *ngFor="
                                    let contact of contacts.controls;
                                    let i = index
                                "
                                [formGroupName]="i"
                            >
                                <td>
                                    <input
                                        class="text-center"
                                        matInput
                                        formControlName="name"
                                    />
                                </td>
                                <td>
                                    <input
                                        class="text-center"
                                        matInput
                                        formControlName="capacity"
                                    />
                                </td>
                                <td>
                                    <input
                                        matInput
                                        class="text-center"
                                        formControlName="occupiedCapacity"
                                    />
                                </td>
                                <td>
                                    <input
                                        matInput
                                        class="text-center"
                                        formControlName="client"
                                    />
                                </td>
                                <td>
                                    <input
                                        matInput
                                        class="text-center"
                                        formControlName="product"
                                    />
                                </td>
                                <td>
                                    <!-- <fa-icon  icon="pen" class="text-primary cursor-pointer"></fa-icon> -->
                                    <fa-icon
                                        icon="trash"
                                        (click)="removeContact(i)"
                                        class="text-primary cursor-pointer"
                                    ></fa-icon>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button
                        type="button"
                        class="text-primary font-bold py-5"
                        (click)="addContact()"
                    >
                        <fa-icon icon="circle-plus"></fa-icon> Add New contact
                    </button>
                </div>
            </div>
            <div>
                <h6 class="font-bold">Zone</h6>
                <div class="mt-10">
                    <table class="table border border-lightgray">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Coordinates</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody formArrayName="zones">
                            <tr
                                *ngFor="
                                    let zone of zones.controls;
                                    let i = index
                                "
                                [formGroupName]="i"
                            >
                                <td>
                                    <input
                                        class="text-center"
                                        matInput
                                        formControlName="name"
                                    />
                                </td>
                                <td>
                                    <input
                                        class="text-center"
                                        matInput
                                        formControlName="coordinates"
                                    />
                                </td>
                                <td>
                                    <!-- <fa-icon  icon="pen" class="text-primary cursor-pointer"></fa-icon> -->
                                    <fa-icon
                                        icon="trash"
                                        (click)="removeZone(i)"
                                        class="text-primary cursor-pointer"
                                    ></fa-icon>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button
                        type="button"
                        class="text-primary font-bold py-5"
                        (click)="addZone()"
                    >
                        <fa-icon icon="circle-plus"></fa-icon> Add New zone
                    </button>
                </div>
            </div>
        </div>

        <div class="flex justify-center pt-5">
            <div class="flex gap-4">
                <button
                    [routerLink]="id ? '../../list' : '../list'"
                    class="btn btn-outline-primary min-lg:min-w-[250px]"
                    type="button"
                    [disabled]="isLoading$ | async"
                >
                    Cancel
                </button>
                <button
                    class="btn btn-primary min-lg:min-w-[250px]"
                    type="button"
                    (click)="savePort()"
                    [disabled]="portForm.invalid || (isLoading$ | async)"
                >
                    Save
                </button>
            </div>
        </div>
    </form>
</edit-container>
