<section *ngIf="(isLoading$ | async) || originalSource.length; else empty">
    <material-panel-table
        [showSearchbar]="false"
        [showHeader]="true"
        buttonLabel="Add User"
        tableTitle="Users list"
        (buttonClicked)="redirectAddUser()"
    >
        <div table class="tw-w-full tw-shadow-lg">
            <ng-scrollbar track="horizontal" [autoHeightDisabled]="false">
                <table
                    class="material-table no-wrap tw-overflow-hidden"
                    matSort
                    (matSortChange)="sortData($event)"
                    [class.loading]="isLoading$ | async"
                    aria-label="Usage Table"
                    cdk-table
                    [dataSource]="dataSource"
                >
                    <ng-container cdkColumnDef="fullName">
                        <th cdk-header-cell *cdkHeaderCellDef scope="col">
                            <section class="tw-flex tw-flex-col">
                                <div mat-sort-header="fullName">User Name</div>
                                <searchbar>
                                    <fa-icon icon="search"></fa-icon>
                                    <input
                                        #searchName
                                        input
                                        type="text"
                                        (keyup)="
                                            applyFilter(
                                                $event.target,
                                                'fullName'
                                            )
                                        "
                                    />
                                    <div
                                        *ngIf="searchName.value"
                                        close
                                        (click)="
                                            searchName.value = '';
                                            applyFilter(
                                                { value: '' },
                                                'fullName'
                                            )
                                        "
                                    >
                                        <fa-icon icon="close"></fa-icon>
                                    </div>
                                </searchbar>
                            </section>
                        </th>
                        <td cdk-cell *cdkCellDef="let row">
                            {{ row.firstName + " " + row.lastName }}
                        </td>
                    </ng-container>

                    <ng-container cdkColumnDef="status">
                        <th cdk-header-cell *cdkHeaderCellDef scope="col">
                            <section class="tw-flex tw-flex-col">
                                <div mat-sort-header="status">Status</div>
                                <select
                                    (change)="filterByStatus($event)"
                                    filter-select
                                >
                                    <option value="" selected>Select</option>
                                    <option value="true">ACTIVE</option>
                                    <option value="false">INACTIVE</option>
                                </select>
                            </section>
                        </th>
                        <!--              <td cdk-cell *cdkCellDef="let row">{{row.user.status}}</td>-->
                        <td cdk-cell *cdkCellDef="let row">
                            {{ row.user.status ? "ACTIVE" : "INACTIVE" }}
                        </td>
                    </ng-container>

                    <ng-container cdkColumnDef="userRole">
                        <th cdk-header-cell *cdkHeaderCellDef scope="col">
                            <section class="tw-flex tw-flex-col">
                                <div mat-sort-header="userRole">User Role</div>
                                <select
                                    (change)="filterByRole($event)"
                                    filter-select
                                >
                                    <option value="" selected>Select</option>
                                    <option value="OPERATOR">OPERATOR</option>
                                    <option value="DRIVER">DRIVER</option>
                                    <option value="PARTNER">PARTNER</option>
                                    <!--                    <option *ngFor="let role of roles" [value]="role.id">{{role.name}}</option>-->
                                </select>
                            </section>
                        </th>
                        <!--              <td cdk-cell *cdkCellDef="let row">-->
                        <!--                {{row?.user?.attributes?.roles[0] || '-'}}-->
                        <!--              </td>-->
                        <td cdk-cell *cdkCellDef="let row">
                            {{ row.user.userRole }}
                        </td>
                    </ng-container>

                    <ng-container cdkColumnDef="phone">
                        <th cdk-header-cell *cdkHeaderCellDef scope="col">
                            <section
                                class="tw-flex tw-flex-col"
                                (keyup)="applyFilter($event.target, 'phone')"
                            >
                                <div mat-sort-header="phone">Phone</div>
                                <searchbar>
                                    <fa-icon icon="search"></fa-icon>
                                    <input
                                        #searchPhone
                                        input
                                        type="text"
                                        (keyup)="
                                            applyFilter($event.target, 'phone')
                                        "
                                    />
                                    <div
                                        *ngIf="searchPhone.value"
                                        close
                                        (click)="
                                            searchPhone.value = '';
                                            applyFilter({ value: '' }, 'phone')
                                        "
                                    >
                                        <fa-icon icon="close"></fa-icon>
                                    </div>
                                </searchbar>
                            </section>
                        </th>
                        <td cdk-cell *cdkCellDef="let row">{{ row.phone }}</td>
                    </ng-container>

                    <ng-container cdkColumnDef="email">
                        <th cdk-header-cell *cdkHeaderCellDef scope="col">
                            <section class="tw-flex tw-flex-col">
                                <div mat-sort-header="email">Email</div>
                                <searchbar>
                                    <fa-icon icon="search"></fa-icon>
                                    <input
                                        #searchEmail
                                        input
                                        type="text"
                                        (keyup)="
                                            applyFilter($event.target, 'email')
                                        "
                                    />
                                    <div
                                        *ngIf="searchEmail.value"
                                        close
                                        (click)="
                                            searchEmail.value = '';
                                            applyFilter({ value: '' }, 'email')
                                        "
                                    >
                                        <fa-icon icon="close"></fa-icon>
                                    </div>
                                </searchbar>
                            </section>
                        </th>
                        <td cdk-cell *cdkCellDef="let row">
                            {{ row.user.email }}
                        </td>
                    </ng-container>
                    <ng-container cdkColumnDef="department">
                        <th cdk-header-cell *cdkHeaderCellDef scope="col">
                            <section class="tw-flex tw-flex-col">
                                <div mat-sort-header="email">Department</div>
                                <searchbar>
                                    <fa-icon icon="search"></fa-icon>
                                    <input
                                        #searchEmail
                                        input
                                        type="text"
                                        (keyup)="
                                            applyFilter($event.target, 'email')
                                        "
                                    />
                                    <div
                                        *ngIf="searchEmail.value"
                                        close
                                        (click)="
                                            searchEmail.value = '';
                                            applyFilter({ value: '' }, 'email')
                                        "
                                    >
                                        <fa-icon icon="close"></fa-icon>
                                    </div>
                                </searchbar>
                            </section>
                        </th>
                        <td cdk-cell *cdkCellDef="let row">
                            {{ row.user.email }}
                        </td>
                    </ng-container>

                    <ng-container cdkColumnDef="actions">
                        <th cdk-header-cell *cdkHeaderCellDef scope="col">
                            <section class="tw-flex tw-flex-col">
                                <div>Actions</div>
                                <button
                                    type="button"
                                    class="btn btn-outline-primary"
                                >
                                    Mass update
                                </button>
                            </section>
                        </th>
                        <td
                            cdk-cell
                            *cdkCellDef="let row"
                            class="tw-flex tw-gap-4"
                        >
                            <!--                  <span class="hover:tw-hidden" (mouseleave)="icon2.classList.add('tw-hidden');icon1.classList.remove('tw-hidden')" #icon2>-->
                            <!--                  <fa-icon icon="user-lock" class="tw-text-primary tw-cursor-pointer" size="lg"></fa-icon>-->
                            <!--                </span>-->
                            <!--                <span #icon1 (mouseenter)="icon1.classList.add('tw-hidden');icon2.classList.remove('tw-hidden')">-->
                            <!--                  <fa-icon icon="user-unlock" class="tw-text-primary tw-cursor-pointer" size="lg"></fa-icon>-->
                            <!--                </span>-->

                            <fa-icon
                                icon="eye"
                                class="tw-text-primary tw-cursor-pointer"
                                size="lg"
                                [routerLink]="['../edit', row.user.id]"
                            ></fa-icon>
                            <fa-icon
                                icon="trash-can"
                                class="tw-text-primary tw-cursor-pointer"
                                size="lg"
                                (click)="openDeleteModal(row.user.id)"
                                *ngIf="data?.user?.userRole !== 'admin'"
                            ></fa-icon>
                        </td>
                    </ng-container>

                    <!-- Header and Row Declarations -->
                    <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
                    <tr
                        cdk-row
                        *cdkRowDef="let row; columns: displayedColumns"
                    ></tr>
                    <tr *cdkNoDataRow>
                        <td [colSpan]="displayedColumns.length">
                            <span *ngIf="isLoading$ | async">
                                <app-loader
                                    *ngIf="isLoading$ | async"
                                    [isContainer]="true"
                                    [fullScreen]="false"
                                ></app-loader>
                            </span>
                            <span
                                *ngIf="
                                    dataSource.length === 0 &&
                                    !(isLoading$ | async)
                                "
                                >Nu există înregistrări</span
                            >
                            <span
                                *ngIf="
                                    dataSource.length > 0 &&
                                    !(isLoading$ | async)
                                "
                                >Nicio înregistrare nu corespunde criteriilor de
                                căutare</span
                            >
                        </td>
                    </tr>
                </table>
            </ng-scrollbar>

            <mat-paginator
                [class.!tw-hidden]="dataSource.length === 0"
                [pageSizeOptions]="pageSizeOptions"
                [length]="length"
                [pageIndex]="pageIndex"
                (page)="onPaginateChange($event)"
                [pageSize]="pageSize"
                showFirstLastButtons
            >
            </mat-paginator>

            <!--                <mat-paginator [class.!tw-hidden]="dataSource.length === 0"   class="paginator tw-rounded-b-[10px]"-->
            <!--                               hidePageSize-->
            <!--                               aria-label="Select page" pageSize="10">-->
            <!--                </mat-paginator>-->

            <!--        <mat-paginator pageSizeOptions="[5]"-->
            <!--                       length="10"-->
            <!--                       pageSize=4-->
            <!--                       showFirstLastButtons>-->
            <!--            -->
            <!--        </mat-paginator>-->

            <!--        <mat-paginator [class.!tw-hidden]="dataSource.length === 0"   class="paginator tw-rounded-b-[10px]"-->
            <!--                       hidePageSize-->
            <!--                       aria-label="Select page" pageSize="10">-->
            <!--        </mat-paginator>-->

            <!--        <mat-paginator #paginator-->
            <!--                       [pageSize]="10"-->
            <!--                       [pageSizeOptions]="[5, 10, 20]">-->
            <!--        </mat-paginator>-->
        </div>
    </material-panel-table>
</section>
<ng-template #empty>
    <no-users></no-users>
</ng-template>
