<section *ngIf="dataSource.length; else empty">
    <material-panel-table [showSearchbar]="false" [showButton]="false" [showHeader]="true" tableTitle="Add message - automation trigger">
    <div table class="tw-w-full tw-shadow-lg">
        <ng-scrollbar track="horizontal" [autoHeightDisabled]="false">
          <table class="material-table no-wrap tw-overflow-hidden" matSort
                 [class.loading]="loading" aria-label="Usage Table"
                 cdk-table [dataSource]="dataSource">
      
            <ng-container cdkColumnDef="operation">
              <th cdk-header-cell *cdkHeaderCellDef scope="col">
                <div mat-sort-header="operation">Operation</div>
              </th>
              <td cdk-cell *cdkCellDef="let row" class="tw-text-left" >{{row.operation}}</td>
            </ng-container>
      
            <ng-container cdkColumnDef="trigger" >
              <th cdk-header-cell *cdkHeaderCellDef scope="col">
                <div mat-sort-header="trigger">Trigger</div>
              </th>
              <td cdk-cell *cdkCellDef="let row">{{row.trigger}}</td>
            </ng-container>
      
            <ng-container cdkColumnDef="scheduling">
              <th cdk-header-cell *cdkHeaderCellDef scope="col">
                <div mat-sort-header="scheduling">Scheduling</div>
              </th>
              <td cdk-cell *cdkCellDef="let row">{{row.scheduling}}</td>
            </ng-container>

            <ng-container cdkColumnDef="status">
              <th cdk-header-cell *cdkHeaderCellDef scope="col">
                <div mat-sort-header="status">Status</div>
              </th>
              <td cdk-cell *cdkCellDef="let row">{{row.status}}</td>
            </ng-container>
      
            <!-- Header and Row Declarations -->
            <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
            <tr cdk-row *cdkRowDef="let row; columns: displayedColumns"></tr>
            <tr *cdkNoDataRow>
              <td [colSpan]="displayedColumns.length">
                <span *ngIf="loading">
                  Loading the data
                </span>
                <span
                  *ngIf="dataSource.length === 0 && !loading">Nu există înregistrări</span>
                <span
                  *ngIf="dataSource.length > 0  && !loading">Nicio înregistrare nu corespunde criteriilor de căutare</span>
              </td>
            </tr>
          </table>
        </ng-scrollbar>
      
        <!-- <mat-paginator [class.!tw-hidden]="dataSource.data.length === 0" class="paginator tw-rounded-b-[10px]"
                       hidePageSize
                       aria-label="Select page" pageSize="10">
        </mat-paginator> -->
      </div>
      <div optional class="tw-bg-white tw-p-4">
          <button type="button" class="tw-text-primary"> 
            <fa-icon icon="circle-plus" class="tw-text-primary"></fa-icon>  
            Add New Automation</button>
      </div>
    </material-panel-table>
</section>
<ng-template #empty>
  <no-message-automations></no-message-automations>
</ng-template>