<section class="bg-white max-md:min-w-100 min-lg:min-w-[850px] h-full p-[50px] overflow-auto">
    <div>
                <h2 class="heading-2 font-bold text-primary">Restrictions-R2</h2>
            </div>
            <div class="py-10">
                <div class="flex min-lg:justify-between min-lg:items-center max-lg:flex-col">
                    <div><h4 class="heading-4 text-primary">RST-1234</h4></div>
                </div>
                <div class="py-2">
                    <div><span class="font-bold">Interval: </span>-dfg</div>
                    <div><span class="font-bold">Operations: </span>-dfg</div>
                    <div><span class="font-bold">Products: </span>- rtewr</div>
                    <div><span class="font-bold">Partners: </span>- ert</div>
                </div>
            </div>
            <div class="py-2">
                <div class="flex min-lg:justify-between min-lg:items-center max-lg:flex-col">
                    <div><h4 class="heading-4 text-primary">RST-1234</h4></div>
                </div>
                <div class="py-2">
                    <div><span class="font-bold">Interval: </span>-dfg</div>
                    <div><span class="font-bold">Operations: </span>-dfg</div>
                    <div><span class="font-bold">Products: </span>- rtewr</div>
                    <div><span class="font-bold">Partners: </span>- ert</div>
                </div>
            </div>
    </section>