<div class="max-w-sm px-4 py-4 min-sm:px-16 min-sm:py-8">
    <div class="whitespace-pre-line  max-w-xs mb-8">
        <p class="font-bold text-muted text-xl text-center mb-4 text-columnCell">
        It is recommended to use a location, please create one!
        </p>
        <p class="font-bold max-w-xs text-center text-sm text-columnCell">
            After you create the location, you can start using the system.
        </p>
    </div>
    
        <div class="flex justify-center">
            <button tabIndex="-1" (click)="confirm()" class="btn btn-primary min-w-[130px]">Ok</button>
        </div>
    </div>
      