@use 'sass:meta';

:host {
  display: block;
  height: 100%;
  --swiper-navigation-size: 3.5rem;
  --swiper-theme-color: var(--primary-color);
  ::ng-deep {

    .hide-swiper-btn {
      display: none !important;
    }

    .swiper-container {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 18px;
      background: #fff;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .swiper-pagination-bullet {
      background-color: var(--primary-color);
    }

    .swiper-pagination-bullet-active {
      background-color: var(--primary-color);
    }

    .swiper-button-next,
    .swiper-button-prev {
      display: none;
      @apply min-md:tw-block;
    }

    .swiper-button-next {
      right: 2vw;
    }
    .swiper-button-prev {
      left: 2vw;
    }

    .swiper-pagination-bullet {
      width: calc(8px + 1vw);
      height: calc(8px + 1vw);
      max-width: 16px;
      max-height: 16px;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets {
      bottom: 5vh;
    }
  }
}
