<section *ngIf="(isLoading$ | async) || originalSource.length; else empty">
  <material-panel-table [showSearchbar]="false" [showHeader]="true" buttonLabel="Add Product" tableTitle="Products List" (buttonClicked)="redirectAddProduct()">
    <div table class="w-full shadow-lg">
      <ng-scrollbar track="horizontal" [autoHeightDisabled]="false">
        <table class="material-table no-wrap overflow-hidden" matSort (matSortChange)="sortData($event)"
               [class.loading]="(isLoading$ | async)" aria-label="Usage Table"
               cdk-table [dataSource]="dataSource">


               <ng-container cdkColumnDef="productCode">
                <th cdk-header-cell *cdkHeaderCellDef scope="col">
                  <section class="flex flex-col">
                    <div mat-sort-header="productCode">Code</div>
                    <searchbar>
                      <fa-icon icon="search"></fa-icon>
                      <input #searchProductCode input type="text" (keyup)="applyFilter($event.target, 'productCode')">
                      <div *ngIf="searchProductCode.value" close (click)="searchProductCode.value=''; applyFilter({ value: '' }, 'productCode')">
                        <fa-icon icon="close"></fa-icon>
                      </div>
                    </searchbar>
                  </section>
                </th>
                <td cdk-cell *cdkCellDef="let row">{{row.productCode}}</td>
              </ng-container>
          <ng-container cdkColumnDef="name">
            <th cdk-header-cell *cdkHeaderCellDef scope="col">
              <section class="flex flex-col">
                <div mat-sort-header="name">Name</div>
                <searchbar>
                  <fa-icon icon="search"></fa-icon>
                  <input #searchName input type="text" (keyup)="applyFilter($event.target, 'name')">
                  <div *ngIf="searchName.value" close (click)="searchName.value=''; applyFilter({ value: '' }, 'name')">
                    <fa-icon icon="close"></fa-icon>
                  </div>
                </searchbar>
              </section>
            </th>
            <td cdk-cell *cdkCellDef="let row">{{row.name}}</td>
          </ng-container>
          <ng-container cdkColumnDef="type">
            <th cdk-header-cell *cdkHeaderCellDef scope="col">
              <section class="flex flex-col">
                <div mat-sort-header="type">Type</div>
                <searchbar>
                  <fa-icon icon="search"></fa-icon>
                  <input #searchType input type="text" (keyup)="applyFilter($event.target, 'type')">
                  <div *ngIf="searchType.value" close (click)="searchType.value=''; applyFilter({ value: '' }, 'name')">
                    <fa-icon icon="close"></fa-icon>
                  </div>
                </searchbar>
              </section>
            </th>
            <td cdk-cell *cdkCellDef="let row">{{row.type}}</td>
          </ng-container>
          

          <ng-container cdkColumnDef="actions">
            <th cdk-header-cell *cdkHeaderCellDef scope="col">
              <section class="flex flex-col">
                <div>Actions</div>
                <button type="button" class="btn btn-outline-primary">Mass update</button>
              </section>
            </th>
            <td cdk-cell *cdkCellDef="let row" class="flex gap-4">
              <fa-icon icon="eye" class="text-primary cursor-pointer" size="lg" [routerLink]="['../edit', row.id]"></fa-icon>
              <fa-icon icon="trash-can" class="text-primary cursor-pointer" size="lg" (click)="openDeleteModal(row.id)"></fa-icon>
            </td>
          </ng-container>


          <!-- Header and Row Declarations -->
          <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
          <tr cdk-row *cdkRowDef="let row; columns: displayedColumns"></tr>
          <tr *cdkNoDataRow>
            <td [colSpan]="displayedColumns.length">
                <span *ngIf="(isLoading$ | async)">
                  <app-loader *ngIf="(isLoading$ | async)" [isContainer]="true" [fullScreen]="false"></app-loader>
                </span>
              <span
                      *ngIf="dataSource.length === 0 && !(isLoading$ | async)">No results found</span>
              <span
                      *ngIf="dataSource.length > 0  && !(isLoading$ | async)">Nicio înregistrare nu corespunde criteriilor de căutare</span>
            </td>
          </tr>
        </table>
      </ng-scrollbar>

              <mat-paginator [class.!hidden]="dataSource.length === 0"
                             [pageSizeOptions]="pageSizeOptions"
                             [length]="length"
                             [pageIndex]="pageIndex"
                             (page)="onPaginateChange($event)"
                             [pageSize]="pageSize"
                             showFirstLastButtons>

              </mat-paginator>
    </div>
  </material-panel-table>
</section>
<ng-template #empty>
  <app-no-products></app-no-products>
</ng-template>
