.mat-stepper-horizontal {
    margin-top: 8px;

    ::ng-deep div.mat-horizontal-stepper-header-container {
        padding: 0 15%;
        margin: 0 auto;
    }
}
::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
}

[type='text'], input:where(:not([type])), [type='email'], [type='url'], [type='password'], [type='number'], [type='date'], [type='datetime-local'], [type='month'], [type='search'], [type='tel'], [type='time'], [type='week'], [multiple], textarea, select {
    appearance: none;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 0px;
    border-radius: 0px;
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    --shadow: 0 0 #0000;
}