<edit-container [headerTitle]="id ? 'Edit Company' : 'Add Company'">
    <mat-stepper labelPosition="bottom" [linear]="isLinear" #stepper>
        <mat-step label="Company type">
    <app-loader *ngIf="isLoading$ | async" [isContainer]="true" [fullScreen]="false"></app-loader>
    <form *ngIf="!(isLoading$ | async)" [formGroup]="companyForm">
        <div>
            <div>
                <p class="mb-3">Please insert the VAT number of the company in the field below.
                    If the company is not in our system, you will be asked to add 
                    the details of that company. If the company is in our system, 
                    you do not need to do anything else.</p>
                
                <div>
                    <div class="min-md:flex gap-2">
                        <div class="flex-2">
                            <h6 class="font-bold">Country code</h6>
                            <div iconic-input-wrapper leftIcon="location-dot">
                                <input inputRef type="text" formControlName="countryCode" />
                            </div>
                        </div>
                        <div class="flex-2">
                            <h6 class="font-bold">Company VAT number</h6>
                            <div iconic-input-wrapper leftIcon="location-dot">
                                <input inputRef type="text"  formControlName="companyVatNumber" />
                            </div>
                        </div>
                    </div>
                </div>
                <h6 class="font-bold mb-3">Company type</h6>
                <p class="mb-3">Tick all the options that apply for the company you want to add.</p>
                <div class="flex gap-20">
                    <!-- <mat-checkbox formControlName="isTypeShipOwner">Ship owner</mat-checkbox> -->
                    <mat-checkbox formControlName="isTypeAgentCompany">Agent company</mat-checkbox>
                    <mat-checkbox formControlName="isTypeManeuveringCompany">Maneuvering company</mat-checkbox>
                    <mat-checkbox formControlName="isTypePortOperator">Port Operator</mat-checkbox>
                </div>

            </div>
        </div>

        <div class="flex justify-center mt-10 pt-5">
            <div class="flex gap-4">
                <button [routerLink]="id ? '../../list' : '../list'"
                    class="btn btn-outline-primary min-lg:min-w-[250px]" type="button" [disabled]="isLoading$ | async">
                    Cancel
                </button>
                <!-- <button class="btn btn-primary" type="button" (click)="saveLocation()" [disabled]="companyForm.invalid || (isLoading$ | async)">Save</button> -->
                <button class="btn btn-primary min-lg:min-w-[250px]" type="button" (click)="next(1)">
                    Next
                </button>
            </div>
        </div>
    </form>
</mat-step>
        <mat-step label="Company details">
    <app-loader *ngIf="isLoading$ | async" [isContainer]="true" [fullScreen]="false"></app-loader>
    <form *ngIf="!(isLoading$ | async)" [formGroup]="companyForm">
        <div>
            <div>
                <!-- <h6 class="font-bold mb-3">Details</h6> -->
                <div class="min-xl:columns-3">
                    <h6 class="font-bold">Company Name</h6>
                    <div class="h-[75px]">
                        <div iconic-input-wrapper leftIcon="location-dot">
                            <input inputRef type="text" id="companyName" formControlName="name" />
                        </div>
                    </div>
                    <h6 class="font-bold">Google Maps coordinates (Plus code)</h6>
                    <div class="h-[75px]">
                        <div iconic-input-wrapper leftIcon="compass">
                            <input inputRef type="text" formControlName="addrCoordinates" />
                        </div>
                    </div>
                    <!-- <h6 class="font-bold">Port</h6>
                    <div class="h-[75px]">
                        <div iconic-select-wrapper leftSvg="./assets/images/port-anchor.svg"
                            [rightIcon]="['fas', 'caret-down']">
                            <select spAccessInputRef name="portId" id="portId" formControlName="portId"
                                (change)="onPortChange($event)">
                                <option *ngFor="let port of ports;" [value]="port.id">{{port.name}}</option>
                            </select>
                        </div>
                    </div> -->
                    <h6 class="font-bold">Picture (480 x 300 px)</h6>
                    <div class="h-[75px]">
                        <div *ngIf="(company$ | async)?.imgPreview">
                            <label>&nbsp;</label>
                            <div class="relative w-[50px]">
                                <span
                                    class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-gray text-3xl cursor-pointer"
                                    (click)="clearImgPreview()">&times;</span>
                                <img [src]="(company$ | async)?.imgPreview" alt="imgPreview" width="50" height="50" />
                            </div>
                        </div>
                        <div *ngIf="!(company$ | async)?.imgPreview">
                            <div iconic-input-wrapper leftIcon="camera" class="cursor-pointer"
                                (click)="triggerFile.click()">
                                <input inputRef type="text" readonly #inputReference />
                                <input style="display: none" type="file" #triggerFile accept="image/*" (change)="
                                        setImgPreview(
                                            $event.target,
                                            inputReference
                                        )
                                    " />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="min-xl:columns-4 mb-5">
                <div>&nbsp;</div>
                <div>
                    <div class="text-right font-bold cursor-pointer">
                        How do I find Google maps coordinates?
                    </div>
                </div>
                <div>&nbsp;</div>
            </div>
            <div>
                <h6 class="font-bold mb-3">Address</h6>
                <div class="flex gap-2">
                    <div class="h-[75] flex-1">
                        <h6 class="font-bold">Street</h6>
                        <div class="h-[75px]">
                            <div iconic-input-wrapper leftIcon="location-crosshairs">
                                <input inputRef type="text" id="addrStreet" formControlName="addrStreet" />
                            </div>
                        </div>
                    </div>
                    <div class="h-[75px] flex-1">
                        <div class="min-md:flex gap-2">
                            <div class="flex-[2]">
                                <h6 class="font-bold">No.</h6>
                                <div iconic-input-wrapper>
                                    <input inputRef type="text" formControlName="addrStreetNo" />
                                </div>
                            </div>
                            <div class="flex-1">
                                <h6 class="font-bold">City</h6>
                                <div iconic-input-wrapper>
                                    <input inputRef type="text" formControlName="addrCity" />
                                </div>
                            </div>
                            <div class="flex-1">
                                <h6 class="font-bold">County</h6>
                                <div iconic-input-wrapper>
                                    <input inputRef type="text" formControlName="addrCounty" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="h-[75px] flex-1">
                        <div class="min-md:flex gap-2">
                            <div class="flex-1">
                                <h6 class="font-bold">Country</h6>
                                <div iconic-input-wrapper>
                                    <input inputRef type="text" formControlName="addrCountry" />
                                </div>
                            </div>
                            <div class="flex-1">
                                <h6 class="font-bold">Zip Code</h6>
                                <div iconic-input-wrapper>
                                    <input inputRef type="text" formControlName="addrZipCode" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h6 class="font-bold">Contact</h6>
                <div class="mt-10">
                    <table class="table border border-lightgray">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Region Code</th>
                                <th>Phone Number</th>
                                <!-- <th>Client</th>
                                <th>Product</th> -->
                                <th></th>
                            </tr>
                        </thead>
                        <tbody formArrayName="contacts">
                            <tr
                                *ngFor="
                                    let contact of contacts.controls;
                                    let i = index
                                "
                                [formGroupName]="i"
                            >
                                <td>
                                    <input
                                        class="text-center"
                                        matInput
                                        formControlName="firstName"
                                    />
                                </td>
                                <td>
                                    <input
                                        class="text-center"
                                        matInput
                                        formControlName="lastName"
                                    />
                                </td>
                                <td>
                                    <input
                                        matInput
                                        class="text-center"
                                        formControlName="phoneRegionCode"
                                    />
                                </td>
                                <td>
                                    <input
                                        matInput
                                        class="text-center"
                                        formControlName="phoneNumber"
                                    />
                                </td>
                                <!-- <td>
                                    <input matInput class="text-center" formControlName="client" />
                                </td>
                                <td>
                                    <input matInput class="text-center" formControlName="product" />
                                </td> -->
                                <td>
                                    <!-- <fa-icon  icon="pen" class="text-primary cursor-pointer"></fa-icon> -->
                                    <fa-icon icon="trash" (click)="removeContact(i)"
                                        class="text-primary cursor-pointer"></fa-icon>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="text-primary font-bold py-5" (click)="addContact()">
                        <fa-icon icon="circle-plus"></fa-icon> Add New contact
                    </button>
                </div>
            </div>
        </div>

        <div class="flex justify-center pt-5">
            <div class="flex gap-4">
                <button (click)="next(0)"
                    class="btn btn-outline-primary min-lg:min-w-[250px]" type="button" [disabled]="isLoading$ | async">
                    Back
                </button>
                <!-- <button class="btn btn-primary" type="button" (click)="saveLocation()" [disabled]="companyForm.invalid || (isLoading$ | async)">Save</button> -->
                <button class="btn btn-primary min-lg:min-w-[250px]" type="button" (click)="saveCompany()">
                    Save
                </button>
            </div>
        </div>
    </form>
</mat-step>
</mat-stepper>
</edit-container>
