<full-empty-container>
  <div class="flex justify-center">
    <img src="assets/images/product.svg" alt="Flag">
  </div>

  <div class="mt-10">
    <h4 class="heading-4 text-center pb-10">There are no products enrolled</h4>
    <p class="heading-6 text-center text-gray">
      Add your first product and start managing assests.<br> 
      After you added a new location you can set other details<br>
       such as residents, access points, parking place, etc.
    </p>
    <div class="text-center pt-10 flex justify-center px-10">
      <button routerLink="../add" type="button" class="btn btn-primary flex-grow h-[50px] max-w-[200px]">
        <span class="text-lg">Add Product</span>
      </button>
    </div>
  </div>
</full-empty-container>
