<full-empty-container>
  <div class="flex justify-center">
    <fa-icon icon="truck-fast" class="text-primary text-[160px]"></fa-icon>
  </div>

  <div class="mt-10">
    <h4 class="heading-4 text-center pb-10">There are no vehicles enrolled</h4>
    <p class="heading-6 text-center text-gray">
      Add new vehicles to your fleet.<br>
      You could later associate them with different shipments.
    </p>
    <div class="text-center pt-10 flex justify-center px-10">
      <button routerLink="../add" type="button" class="btn btn-primary flex-grow h-[50px] max-w-[200px]">
        <span class="text-lg">Add vehicle</span>
      </button>
    </div>
  </div>
</full-empty-container>
