<div class="tw-flex-grow tw-flex tw-flex-col tw-gap-8">
  <div class="tw-flex tw-justify-between sm:tw-justify-center md:tw-flex-row max-md:tw-flex-col">
      <h3 class="heading-3">{{'menu.dashboard' | translate }}</h3>
      <searchbar [minWidth]="500">
        <fa-icon icon="search" leftIcon></fa-icon>
        <input input class="tw-rounded" type="text" placeholder="Search Client">
      </searchbar>
  </div>
  <div class="tw-flex tw-flex-wrap tw-gap-8">
    <div statistic-card-v2 icon="truck" class="tw-flex-grow slide-in-bottom" [label]="'dashboard.vehicles-today-count' | translate" [numericValue]="(totalVehiclesToday$ | async)!"
      textColor="orange" colorStyle="orange"></div>
    <div statistic-card-v2 icon="truck-ramp-box" class="tw-flex-grow slide-in-bottom" [label]="'dashboard.vehicles-inside-count' | translate" [numericValue]="(totalVehiclesInside$ | async)!"
      textColor="#A32314" colorStyle="#A32314"></div>
    <div statistic-card-v2 icon="calendar-alt" class="tw-flex-grow slide-in-bottom" [label]="'dashboard.vehicles-planned-count' | translate" [numericValue]="(totalVehiclesPlanned$ | async)!" 
      textColor="#17A0B5" colorStyle="#17A0B5"></div>
  </div>

  <div card class="tw-h-max-content tw-flex tw-flex-col tw-overflow-hidden max-md:tw-overflow-auto">
      <div class="tw-flex-grow tw-h-[250px] min-md:tw-h-[250px]">
        <ngx-charts-line-chart
          [scheme]="lineChartDataColorScheme"
          [legend]="!!(showLegend$ | async)"
          [legendPosition]="legendPosition"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [results]="lineChartData$ | async"
          [trimYAxisTicks]="true"
        ></ngx-charts-line-chart>
      </div>
      <div class="tw-flex max-md:tw-flex-col">
        <div class="tw-w-full tw-flex tw-flex-col tw-p-4">
          <h3 class="heading-5 tw-text-center tw-mb-10">{{'dashboard.vehicles-inside' | translate}}</h3>
          <div class="tw-flex-grow tw-mr-12">
            <ngx-charts-pie-chart [view]="view"
            [scheme]="colorScheme"
            [results]="currentVehicles$ | async"
            [gradient]="gradient"
            [legend]="!!(showLegend$ | async)"
            [legendPosition]="legendPosition"
            [labels]="showLabels"
            [doughnut]="false"></ngx-charts-pie-chart>
          </div>
        </div>
        <div class="tw-w-full tw-flex tw-flex-col tw-p-4">
          <h3 class="heading-5 tw-text-center tw-mb-10">{{'dashboard.vehicles-due-to-arrive-next-four-hours' | translate}}</h3>
          <div class="tw-flex-grow tw-mr-12">
            <ngx-charts-pie-chart [view]="view"
            [scheme]="colorScheme"
            [results]="futureVehicles$ | async"
            [gradient]="gradient"
            [legend]="!!(showLegend$ | async)"
            [legendPosition]="legendPosition"
            [labels]="showLabels"
            [doughnut]="false"></ngx-charts-pie-chart>
          </div>
        </div>
      </div>
    </div>
  
</div>
