<section class="bg-white max-md:min-w-100 min-lg:min-w-[850px] h-full p-[50px] overflow-auto">
    <app-loader class="m-auto flex-grow" *ngIf="(isLoading$ | async)" [fullScreen]="false"></app-loader>
    <div *ngIf="!(isLoading$ | async) &&  modal === 'shipment'">
        <div class="flex justify-between min-lg:items-center max-lg:flex-col">
            <div>
                <h2 class="heading-2 font-bold text-primary">Shipment ID - {{planning?.id}}</h2>
            </div>
            <div class="flex gap-10">
                <fa-icon icon="print" class="text-primary text-[35px] cursor-pointer"></fa-icon>
                <fa-icon icon="file-pdf" class="text-primary text-[35px] cursor-pointer"></fa-icon>
                <fa-icon icon="envelope" class="text-primary text-[35px] cursor-pointer"></fa-icon>
            </div>
        </div>
        <div class="py-10">
            <div class="flex min-lg:justify-between min-lg:items-center max-lg:flex-col">
                <div>
                    <h4 class="heading-4 text-primary">Shipment Details</h4>
                </div>
            </div>
            <div class="grid min-lg:grid-rows-3 min-lg:grid-cols-2 max-md:grid-rows-8 max-md:grid-cols-1 py-2">
                <div><span class="font-bold">Vessel ID: </span>-</div>
                <div><span class="font-bold">Coordinates: </span>-</div>
                <div><span class="font-bold">numar aprobare manevra: </span>-
                    {{planning?.planningConvoys?.maneuvering}}
                </div>
                <div><span class="font-bold">ETA: </span>- {{planning?.estimatedTimeArrival}}</div>
                <div><span class="font-bold">Products: </span>- {{planning?.planningProducts}}</div>
                <div><span class="font-bold">RTA: </span>- {{planning?.relativeTimeArrival}}</div>
                <div><span class="font-bold">Dock: </span>- </div>
                <div><span class="font-bold">Delay: </span>- {{planning?.delay}}</div>
                <!-- <div><span class="font-bold">Status: </span>  -->
                <!-- <mat-chip [ngStyle]="{
                    'background': (planning$ | async)?.statusColor
                }">{{(planning$ | async)?.status || 'No status'}}</mat-chip> -->
                <!-- </div>
                <div><span class="font-bold">Driver: </span> {{planning?.driverName || '-'}}</div> -->
                <!-- <div><span class="font-bold">Operation: </span>
                    <span *ngIf="$any(planning?.operation).name">{{$any(planning?.operation).name}}</span> -->
                <!-- <span *ngIf="(planning$ | async)?.operation">{{ (planning$ | async)?.operation}} ({{(planning$ | async)?.operationType}})</span> -->
                <!-- </div> -->
                <!-- <div><span class="font-bold">Auto License Plate: </span> {{planning?.truckLicensePlateFront || '-'}}</div> -->
                <!-- <div><span class="font-bold">Products: </span>
                    <span *ngIf="planning.products.length">{{planning.products | extractProperty : 'productName'}}</span> -->
                <!-- <span *ngIf="">{{(planning$ | async)?.goodsName}}</span> -->
                <!-- </div> -->
                <!-- <div><span class="font-bold">Documents: </span> id = {{planning.documents | extractProperty : 'id'}}</div> -->
            </div>
            <!-- <div class="flex gap-4">
                <ng-container *ngIf="planning.convoyDetail.documents.length">
                    <div *ngFor="let image of $any(planning.documents)">
                        <div [style.background-image]="'url(' + image?.document + ')'" (click)="openImageModal(image.document)"
                        class="bg-center cursor-pointer bg-no-repeat bg-cover min-h-[83px] min-md:min-w-[120px]"></div>
                    </div>
                </ng-container>
            </div>
            <div *ngIf="!planning?.documents?.length">
                <p class="font-bold text-center py-2">There're no documents attached.</p>
            </div> -->
        </div>
        <!-- <div>
            <h4 class="heading-4 font-bold text-primary mb-3">Shipment Log</h4>
            <activity-log *ngFor="let log of shipmentLogs;let i = index" icon="file-plus" [shipmentLog]="log" [isEnd]="(i + 1) === shipmentLogs.length"></activity-log>
            <h3 *ngIf="!(isLoading$ | async) && !shipmentLogs.length" class="heading-3 font-bold text-center py-2">There're no shipment logs.</h3>
            <activity-log icon="copy"></activity-log>
            <activity-log icon="user-plus"></activity-log>
            <activity-log icon="file-plus" [isEnd]="true"></activity-log>
        </div> -->
    </div>
    <section *ngIf="!(isLoading$ | async) && modal === 'transfer'">
        <section [@slideIn] [@slideOut] *ngIf="(step$ | async) === 1"
            class="bg-white max-md:min-w-100 min-lg:min-w-[850px] h-full p-[50px] overflow-auto">

            <!-- <app-loader class="m-auto flex-grow" *ngIf="(isLoading$ | async)" [fullScreen]="false"></app-loader> -->
            <div class="mb-5">
                <div>
                    <h2 class="heading-2 font-bold text-primary">Assign options</h2>
                </div>
                <div>
                    <p class="mt-5">Please choose one of the option below.</p>
                </div>
            </div>

            <div class="flex flex-row justify-between pt-5">
                <div class="flex flex-col gap-12 w-[100%]">
                    <div class="flex flex-col gap-4">
                        <div *ngIf="userRole === 'ROLE_USER_TRANSPORT'"
                            class="w-full shadow-md rounded-lg border border-transparent gap-5 h-28 p-6 flex items-center cursor-pointer"
                            (click)="onRoleSelect('ROLE_USER_AGENT')">
                            <div class="flex justify-center p-5 border border-gray rounded-full h-[72px] w-[72px] items-center"
                                (click)="onRoleSelect('ROLE_USER_AGENT')">
                                <img src="assets/images/Reg_file.svg" alt="icon"
                                    (click)="onRoleSelect('ROLE_USER_AGENT')">
                            </div>
                            <h1 class="text text-4xl font-bold" (click)="onRoleSelect('ROLE_USER_AGENT')">Agent company
                            </h1>
                        </div>
                        <div class="w-full shadow-md rounded-lg border border-transparent gap-5 h-28 p-6 flex items-center cursor-pointer"
                            (click)="onRoleSelect('ROLE_USER_MANEUVERING')">
                            <div class="flex justify-center p-5 border border-gray rounded-full h-[72px] w-[72px] items-center"
                                (click)="onRoleSelect('ROLE_USER_MANEUVERING')">
                                <img src="assets/images/Reg_manu.svg" alt="icon"
                                    (click)="onRoleSelect('ROLE_USER_MANEUVERING')">
                            </div>
                            <h1 class="text text-4xl font-bold" (click)="onRoleSelect('ROLE_USER_MANEUVERING')">
                                Maneuvering company
                            </h1>
                        </div>
                        <div class="w-full shadow-md rounded-lg border border-transparent gap-5 h-28 p-6 flex items-center cursor-pointer"
                            (click)="onRoleSelect('ROLE_USER_CAPTAIN')">
                            <div class="flex justify-center p-5 border border-gray rounded-full h-[72px] w-[72px] items-center"
                                (click)="onRoleSelect('ROLE_USER_CAPTAIN')">
                                <fa-icon icon="user" class="text-primary text-[35px]"
                                    (click)="onRoleSelect('ROLE_USER_CAPTAIN')"></fa-icon>
                            </div>
                            <h1 class="text text-4xl font-bold" (click)="onRoleSelect('ROLE_USER_CAPTAIN')">Captian</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section [@slideIn] [@slideOut] *ngIf="(step$ | async) === 2"
            class="bg-white max-md:min-w-100 min-lg:min-w-[850px] h-full p-[50px] overflow-auto">
            <div class="mb-5">
                <div>
                    <h2 class="heading-2 font-bold text-primary">Assign options</h2>
                </div>
                <div>
                    <p class="mt-5">Please choose one of the option below.</p>
                </div>
            </div>

            <section class="mt-10 result-container">
                <table mat-table [dataSource]="dataSource" class="table border border-lightgray">
                    <mat-radio-group aria-label="Select an option" *ngIf="selectedRole === 'ROLE_USER_CAPTAIN'">
                        <ng-container matColumnDef="select">
                            <th class="w-[15px]" mat-header-cell *matHeaderCellDef>
                                Select
                            </th>
                            <td mat-cell *matCellDef="let row">
                                <mat-radio-button value="{{row.user.id}}" (click)="onUserSelect(row.user.id)"></mat-radio-button>
                            </td>
                        </ng-container>
                    </mat-radio-group>
                    <ng-container matColumnDef="select" *ngIf="selectedRole !== 'ROLE_USER_CAPTAIN'">
                        <th class="w-[15px]" mat-header-cell *matHeaderCellDef>
                            Select
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox (click)="onUserSelect(row.user.id)">
                            </mat-checkbox>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.firstName + ' ' + element.lastName}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </section>
            <div class="flex flex-row justify-end gap-12 pt-5">
                <div>
                    <button class="btn btn-outline-primary round-border rounded-full h-[37px] w-[150px]" type="button"
                        (click)="step$.next(1)">
                        Back
                    </button>
                </div>
                <div>
                    <button class="btn btn-primary round-border h-[37px] w-[150px]" type="button" (click)="onAssign()">
                        Assign
                    </button>
                </div>
            </div>
        </section>
    </section>
</section>
