<full-empty-container>
    <div class="flex justify-center">
        <img src="./assets/images/integration.svg" alt="integration.svg">
    </div>

    <div class="mt-10">
        <p class="heading-6 text-center text-gray">
            This is the section where you set integrations 
with other platforms and applications.<br>
        </p>
        <div class="text-center pt-10 flex justify-center px-10">
            <button routerLink="../add" type="button" class="btn btn-primary flex-grow h-[50px] max-w-[200px]">
                <span class="text-lg">Add Integration</span>
            </button>
        </div>
    </div>
</full-empty-container>