<!--<edit-container headerTitle="Add user - users details">-->
    <edit-container [headerTitle]="id ?  'Edit Users Details':'Add Users Details'">
    <app-loader *ngIf="isLoading$ | async" [isContainer]="true" [fullScreen]="false"></app-loader>
    <form [formGroup]="userForm" *ngIf="!(isLoading$ | async)">
            <div class="flex flex-col mx-auto max-w-[440px] gap-5">
                <div formGroupName="userSetting">
                    <div iconic-input-wrapper leftIcon="user">
                        <input inputRef type="text" id="firstName" placeholder="First Name" formControlName="firstName">
                    </div>
                </div>
                <div formGroupName="userSetting">
                    <div iconic-input-wrapper leftIcon="user">
                        <input inputRef type="text" id="lastName" placeholder="Last Name" formControlName="lastName">
                    </div>
                </div>
                <div formGroupName="user">
                    <div iconic-select-wrapper leftIcon="eye" [rightIcon]="['fas', 'caret-down']">
                      <select spAccessInputRef name="status" id="status" formControlName="status">
                          <option value="" disabled>Status</option>
                          <option value="true">Active</option>
                          <option value="false">Inactive</option>
                      </select>
                    </div>
                </div>
                <div formGroupName="userSetting">
                    <div iconic-input-wrapper leftIcon="phone">
                        <input inputRef type="text" id="phone" placeholder="Phone" formControlName="phone">
                    </div>
                </div>
                <div formGroupName="user" [hidden]="this.userForm.get('userId')?.value">
                    <div iconic-input-wrapper leftIcon="envelope">
                        <input inputRef type="text" id="email" placeholder="Email" formControlName="email">
                    </div>
                </div>
                <div formGroupName="userSetting">
                    <div iconic-input-wrapper leftSvg="./assets/images/department-input.svg">
                        <input inputRef type="text" id="department" placeholder="Department" formControlName="department">
                    </div>
                </div>
            </div>

            <div class="flex justify-center pt-5">
                <div class="flex gap-4">
                    <button [routerLink]="id ? '../../list': '../list'" class="btn btn-outline-primary min-lg:min-w-[250px]" type="button">Cancel</button>
                    <button class="btn btn-primary min-lg:min-w-[250px]" type="button" (click)="saveUser()" [disabled]="userForm.invalid || (isLoading$ | async)">Save</button>
                </div>
            </div>
    </form>
</edit-container>
