<!--<edit-container headerTitle="Add user - users details">-->
    <edit-container [headerTitle]="id ?  'Edit users details':'Add users details'">
    <app-loader *ngIf="isLoading$ | async" [isContainer]="true" [fullScreen]="false"></app-loader>
    <form [formGroup]="userForm" *ngIf="!(isLoading$ | async)">
            <div class="tw-flex tw-flex-col tw-mx-auto tw-max-w-[440px] tw-gap-5">
                <div formGroupName="userSetting">
                    <div iconic-input-wrapper leftIcon="user">
                        <input inputRef type="text" id="firstName" placeholder="First Name" formControlName="firstName">
                    </div>
                </div>
                <div formGroupName="userSetting">
                    <div iconic-input-wrapper leftIcon="user">
                        <input inputRef type="text" id="lastName" placeholder="Last Name" formControlName="lastName">
                    </div>
                </div>
                <div formGroupName="user">
                    <div iconic-select-wrapper leftIcon="eye" [rightIcon]="['fas', 'caret-down']">
                      <select inputRef name="status" id="status" formControlName="status">
                          <option value="" disabled>Status</option>
                          <option value="true">ACTIVE</option>
                          <option value="false">INACTIVE</option>
                      </select>
                    </div>
                </div>
                <div formGroupName="userSetting">
                    <div iconic-input-wrapper leftIcon="phone">
                        <input inputRef type="text" id="phone" placeholder="Phone" formControlName="phone">
                    </div>
                </div>
                <div formGroupName="user" [hidden]="this.userForm.get('userId')?.value">
                    <div iconic-input-wrapper leftIcon="envelope">
                        <input inputRef type="text" id="email" placeholder="Email" formControlName="email">
                    </div>
                </div>
                <div formGroupName="user" [hidden]="this.userForm.get('userId')?.value">
                    <div iconic-input-wrapper leftIcon="building">
                        <input inputRef type="text" id="email" placeholder="Department" formControlName="email">
                    </div>
                </div>
                <!-- <div formGroupName="user">
                    <div iconic-select-wrapper leftIcon="id-card" [rightIcon]="['fas', 'caret-down']">
                        <select inputRef name="userRole" id="userRole" formControlName="userRole" (change)="onRoleChange($event)">
                            <option value="" disabled>Select user role</option>
                            <option value="OPERATOR">OPERATOR</option>
                            <option value="DRIVER">DRIVER</option>
                            <option value="PARTNER">PARTNER</option>
                        </select>
                    </div>
                </div> -->
                
                <!-- <div formGroupName="userSetting">
                    <div iconic-select-wrapper leftIcon="eye" [rightIcon]="['fas', 'caret-down']">
                        <select inputRef name="timezone" id="timezone" formControlName="timezone">
                            <option value="" disabled>Select Timezone</option>
                            <option value="Europe/Bucharest">Europe/Bucharest</option>
                            <option value="Asia/Karachi">Asia/Karachi</option>
                        </select>
                    </div>
                </div> -->
                <!-- <div formGroupName="userSetting">
                    <div iconic-select-wrapper leftIcon="eye" [rightIcon]="['fas', 'caret-down']">
                        <select inputRef name="language" id="language" formControlName="language">
                            <option value="" disabled>Select Language</option>
                            <option value="EN">EN</option>
                            <option value="RO">RO</option>
                        </select>
                    </div>
                </div> -->
                

                <!-- <div formGroupName="userSetting">
                    <div iconic-input-wrapper leftIcon="phone">
                        <input inputRef type="text" id="phoneRegionCode" placeholder="Phone Region Code" formControlName="phoneRegionCode">
                    </div>
                </div> -->

                <!-- <div formGroupName="userSetting" *ngIf="(selectedRole$ | async) === 'DRIVER'">
                    <div iconic-select-wrapper leftIcon="eye" [rightIcon]="['fas', 'caret-down']">
                        <select inputRef name="identityDocumentType" id="identityDocumentType" formControlName="identityDocumentType">
                            <option value="" disabled>Select Identity Document Type</option>
                            <option value="New">New</option>
                            <option value="Old">Old</option>
                        </select>
                    </div>
                </div> -->

                <!-- <div formGroupName="userSetting" *ngIf="(selectedRole$ | async)=== 'DRIVER'">
                    <div iconic-input-wrapper leftIcon="phone">
                        <input inputRef type="text" id="idNumber" placeholder="ID Number" formControlName="idNumber">
                    </div>
                </div> -->

            </div>

            <div class="tw-flex tw-justify-end tw-pt-5">
                <div class="tw-flex tw-gap-4">
                    <button [routerLink]="id ? '../../list': '../list'" class="btn btn-outline-primary" type="button">Cancel</button>
                    <button class="btn btn-primary" type="button" (click)="saveUser()" [disabled]="userForm.invalid || (isLoading$ | async)">Save</button>
                </div>
            </div>
    </form>
</edit-container>
