<mat-chip [matMenuTriggerFor]="(hasDropdown$ | async)?menu:null" #trigger="matMenuTrigger"
[ngStyle]="{
    'background': planning?.statusColor,
    'color': (planning.status === 'Checked-out' || planning.status === 'Checked-in')?'white' :'#595959'
}">
<div class="tw-flex tw-gap-2" 
[ngClass]="{'tw-justify-between': (hasDropdown$ | async), 'tw-justify-center': !(hasDropdown$ | async)}">
  <span>{{planning?.status || '-'}}</span>
  <fa-icon *ngIf="hasDropdown$ | async" icon="angle-down"></fa-icon>
</div>
</mat-chip>
<mat-menu #menu="matMenu" class="!tw-bg-white">
    <div class="tw-px-2 tw-flex tw-flex-col tw-gap-4 tw-cursor-pointer">
        <ng-container *ngIf="(hasDropdown$ | async) && planning.status === 'Created'">
          <mat-chip  (click)="triggerAccept.emit({ 
            container: { data: { index: +planning.timeSlot.slice(0,2), name: planning.dockName, dock: +planning.dockId } },
            item: { data: planning }
          })" class="!tw-cursor-pointer" [ngStyle]="{
            'background': plannedStatus?.color,
        }">{{'button.accept' | translate}}</mat-chip>
          <mat-chip (click)="triggerReject.emit(planning)"
          class="!tw-cursor-pointer" [ngStyle]="{
              'background': cancelledStatus?.color,
          }">{{('button.reject' | translate)}}</mat-chip>
        </ng-container>
    
        <ng-container *ngIf="planning.status === 'Planned'">
          <mat-chip (click)="triggerCheckIn.emit(planning)"
          class="!tw-cursor-pointer" [ngStyle]="{
              'background': checkedInStatus?.color,
          }">{{'button.check-in' | translate}}</mat-chip>
          <mat-chip (click)="triggerCancellation.emit(planning)"
          class="tw-cursor-pointer" [ngStyle]="{
              'background': cancelledStatus?.color,
          }">{{('button.cancel' | translate)}}</mat-chip>
        </ng-container>
      
        <ng-container *ngIf="planning.status === 'Checked-in'">
          <mat-chip (click)="triggerCheckOut.emit(planning)"
          class="tw-cursor-pointer" [ngStyle]="{
              'background': checkedOutStatus?.color,
              'color': 'white'
          }">{{'button.check-out' | translate}}</mat-chip>
          <mat-chip (click)="triggerCancellation.emit(planning)"
          class="tw-cursor-pointer" [ngStyle]="{
              'background': cancelledStatus?.color,
          }">{{('button.cancel' | translate)}}</mat-chip>
        </ng-container>
    </div>
  </mat-menu>
