<div class="max-w-sm px-4 py-4 min-sm:px-16 min-sm:py-8">
    <div class="whitespace-pre-line  max-w-xs mb-8">
      <p class="font-bold text-muted text-xl text-center mb-4 text-columnCell">
        This requires a full membership plan, please contact your Administrator to upgrade your plan!
      </p>
    </div>
  
    <div class="flex justify-center">
      <button tabIndex="-1" (click)="confirm()" class="btn btn-primary min-w-[130px]">{{'button.ok' | translate}}</button>
    </div>
  </div>
  