<div class="tw-max-w-sm tw-px-4 tw-py-4 min-sm:tw-px-16 min-sm:tw-py-8">
    <div class="tw-whitespace-pre-line  tw-max-w-xs tw-mb-8">
      <p class="tw-font-bold tw-text-muted tw-text-xl tw-text-center tw-mb-4 tw-text-columnCell">
        This requires a full membership plan, please contact your Administrator to upgrade your plan!
      </p>
    </div>
  
    <div class="tw-flex tw-justify-center">
      <button tabIndex="-1" (click)="confirm()" class="btn btn-primary tw-min-w-[130px]">{{'button.ok' | translate}}</button>
    </div>
  </div>
  