.mat-drawer.mat-drawer-end {
    @media screen and (max-width: 992px) {
        left: 0;
    }
}

.card-container {
    max-height: calc(100vh - 190px);
    overflow: auto;

    ::ng-deep {
        div[droplistscroller] {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }
}

::ng-deep .mat-drawer-backdrop.mat-drawer-shown {
    background-color: rgba(0, 0, 0, 0.6);
    // filter: blur(1.5rem);
    backdrop-filter: blur(1.5rem);
}