<section>
    <material-panel-table
      *ngIf="!isContained" [showSearchbar]="false" [showHeader]="true"
      buttonLabel="Add SID" tableTitle="Planning list" (buttonClicked)="redirectAddScheduling()">
    </material-panel-table>
    <div table class="tw-w-full tw-shadow-lg tw-bg-white">
        <ng-scrollbar track="all" class="tw-min-h-[calc(100vh-200px)]" 
        [appearance]="'compact'"
        (reachedBottom)="onBottomReached()" 
        [reachedOffset]="100">
          <table class="material-table no-wrap tw-overflow-hidden" matSort
                 [class.loading]="(isLoading$ | async)"
                 [ngStyle]="{'maxHeight': dataSource.length ? 'calc(100vh - 190px)' : '', overflow: dataSource.length ? 'auto': ''}"
                 cdk-table [dataSource]="dataSource">
          
          <ng-container cdkColumnDef="SID">
            <th cdk-header-cell *cdkHeaderCellDef 
                [style.text-align]="'center'"> 
              SID
            </th>
          </ng-container>

          <ng-container multiple cdkColumnDef="date-time-group">
            <th cdk-header-cell *cdkHeaderCellDef 
                [style.text-align]="'center'"
                [attr.colspan]="3"> 
              Date & Ora
            </th>
          </ng-container>

          <ng-container multiple cdkColumnDef="driver-auto-group">
            <th cdk-header-cell *cdkHeaderCellDef 
                [style.text-align]="'center'"
                [attr.colspan]="7"> 
              Sofer & camion
            </th>
          </ng-container>

          <ng-container multiple cdkColumnDef="product-group">
            <th cdk-header-cell *cdkHeaderCellDef 
                [style.text-align]="'center'"
                [attr.colspan]="12"> 
              Marfa
            </th>
          </ng-container>

           <ng-container cdkColumnDef="sId">
              <td cdk-header-cell  *cdkHeaderCellDef scope="col" [ngClass]="{'tw-bg-white' : dataSource.length }">
                  <section class="tw-flex tw-flex-col">
                    <div mat-sort-header="sId">sId</div>
                      <searchbar [minWidth]="150">
                        <fa-icon rightIcon icon="search"></fa-icon>
                        <input #searchSid input type="text" (keyup)="applyFilter($event.target, 'sId')">
                        <div *ngIf="searchSid.value" close (click)="searchSid.value=''; applyFilter({ value: '' }, 'sId')">
                          <fa-icon icon="close"></fa-icon>
                        </div>
                      </searchbar>
                  </section>
                </td>
              <td cdk-cell *cdkCellDef="let row" >
                <a class="tw-text-primary" href="javascript:void(0)" (click)="triggerOpenLogs.emit({ view: 'view', id: row.id, planning: row })">{{row.sId || '-'}}</a>
              </td>
              <td cdk-footer-cell *cdkFooterCellDef [colSpan]="10" class="tw-py-4 tw-font-bold tw-pl-4">
                <div>{{'messages.there-no-more-items' | translate}}</div>
              </td>
            </ng-container>

            <ng-container cdkColumnDef="schedulingDate">
              <th cdk-header-cell   *cdkHeaderCellDef scope="col" [ngClass]="{'tw-bg-white' : dataSource.length }">
                  <section class="tw-flex tw-flex-col">
                      <div mat-sort-header="schedulingDate">Inregistrari</div>
                      <searchbar [minWidth]="150">
                        <fa-icon rightIcon icon="search"></fa-icon>
                        <input #searchSchedulingDate input type="text" (keyup)="applyFilter($event.target, 'schedulingDate')">
                        <div *ngIf="searchSchedulingDate.value" close (click)="searchSchedulingDate.value=''; applyFilter({ value: '' }, 'schedulingDate')">
                          <fa-icon icon="close"></fa-icon>
                        </div>
                    </searchbar>
                  </section>
              </th>
              <td cdk-cell *cdkCellDef="let row">
                {{row.schedulingDate || '-'}} {{row.timeSlot | slice: 0: 5}}
              </td>
              <td cdk-footer-cell *cdkFooterCellDef [colSpan]="10" class="tw-py-4 tw-font-bold">
                <app-loader></app-loader>
              </td>
            </ng-container>

            <ng-container cdkColumnDef="arrival">
              <th cdk-header-cell  *cdkHeaderCellDef scope="col" [ngClass]="{'tw-bg-white' : dataSource.length }">
                  <section class="tw-flex tw-flex-col">
                      <div mat-sort-header="arrival" >Sosiri</div>
                      <searchbar [minWidth]="150" [disabled]="true">
                        <fa-icon rightIcon icon="search"></fa-icon>
                        <input #searchArrival input type="text" (keyup)="applyFilter($event.target, 'statusUpdatedAt')">
                        <div *ngIf="searchArrival.value" close (click)="searchArrival.value=''; applyFilter({ value: '' }, 'statusUpdatedAt')">
                          <fa-icon icon="close"></fa-icon>
                        </div>
                    </searchbar>
                  </section>
              </th>
              <td cdk-cell *cdkCellDef="let row">
                {{(row.statusUpdatedAt | date: 'dd.MM.yyyy HH:mm') || '-'}}
              </td>
            </ng-container>

            <ng-container cdkColumnDef="waitingTime">
              <th cdk-header-cell  *cdkHeaderCellDef scope="col" [ngClass]="{'tw-bg-white' : dataSource.length }">
                  <section class="tw-flex tw-flex-col">
                      <div mat-sort-header="waitingTime">Waiting time</div>
                      <searchbar [minWidth]="150" [disabled]="true">
                        <fa-icon rightIcon icon="search"></fa-icon>
                        <input #searchWaitingTime input type="text" (keyup)="applyFilter($event.target, 'waitingTime')">
                        <div *ngIf="searchWaitingTime.value" close (click)="searchWaitingTime.value=''; applyFilter({ value: '' }, 'waitingTime')">
                          <fa-icon icon="close"></fa-icon>
                        </div>
                    </searchbar>
                  </section>
              </th>
              <td cdk-cell *cdkCellDef="let row">
                {{row.waitingTime || '-'}}
              </td>
            </ng-container>

            <ng-container cdkColumnDef="firstName">
              <th cdk-header-cell  *cdkHeaderCellDef scope="col" [ngClass]="{'tw-bg-white' : dataSource.length }">
                  <section class="tw-flex tw-flex-col">
                      <div mat-sort-header="firstName">{{'contact.first-name' | translate}}</div>
                      <searchbar [minWidth]="150" [disabled]="true">
                        <fa-icon rightIcon icon="search"></fa-icon>
                        <input disabled readonly #searchFirstName input type="text" (keyup)="applyFilter($event.target, 'firstName')">
                        <div *ngIf="searchFirstName.value" close (click)="searchFirstName.value=''; applyFilter({ value: '' }, 'firstName')">
                          <fa-icon icon="close"></fa-icon>
                        </div>
                    </searchbar>
                  </section>
              </th>
              <td cdk-cell *cdkCellDef="let row">
                {{row.firstName || '-'}}
              </td>
            </ng-container>

            <ng-container cdkColumnDef="lastName">
              <th cdk-header-cell  *cdkHeaderCellDef scope="col" [ngClass]="{'tw-bg-white' : dataSource.length }">
                  <section class="tw-flex tw-flex-col">
                      <div mat-sort-header="lastName">{{'contact.last-name' | translate}}</div>
                      <searchbar [minWidth]="150" [disabled]="true">
                        <fa-icon rightIcon icon="search"></fa-icon>
                        <input #searchLastName input type="text" (keyup)="applyFilter($event.target, 'lastName')">
                        <div *ngIf="searchLastName.value" close (click)="searchLastName.value=''; applyFilter({ value: '' }, 'lastName')">
                          <fa-icon icon="close"></fa-icon>
                        </div>
                    </searchbar>
                  </section>
              </th>
              <td cdk-cell *cdkCellDef="let row">
                {{row.lastName || '-'}}
              </td>
            </ng-container>

            <ng-container cdkColumnDef="phoneNumber">
              <th cdk-header-cell  *cdkHeaderCellDef scope="col" [ngClass]="{'tw-bg-white' : dataSource.length }">
                  <section class="tw-flex tw-flex-col">
                      <div mat-sort-header="phoneNumber">{{'contact.phone' | translate}}</div>
                      <searchbar [minWidth]="150">
                        <fa-icon rightIcon icon="search"></fa-icon>
                        <input #searchPhoneNumber input type="text" (keyup)="applyFilter($event.target, 'phoneNumber')">
                        <div *ngIf="searchPhoneNumber.value" close (click)="searchPhoneNumber.value=''; applyFilter({ value: '' }, 'phoneNumber')">
                          <fa-icon icon="close"></fa-icon>
                        </div>
                    </searchbar>
                  </section>
              </th>
              <td cdk-cell *cdkCellDef="let row">
                {{row.phoneNumber || '-'}}
              </td>
            </ng-container>

            <ng-container cdkColumnDef="identityDocumentNumber">
              <th cdk-header-cell  *cdkHeaderCellDef scope="col" [ngClass]="{'tw-bg-white' : dataSource.length }">
                  <section class="tw-flex tw-flex-col">
                      <div mat-sort-header="identityDocumentNumber" >{{'contact.id-card' | translate}}</div>
                      <searchbar [minWidth]="150" [disabled]="true">
                        <fa-icon rightIcon icon="search"></fa-icon>
                        <input #searchIdentity input type="text" (keyup)="applyFilter($event.target, 'identityDocumentNumber')">
                        <div *ngIf="searchIdentity.value" close (click)="searchIdentity.value=''; applyFilter({ value: '' }, 'identityDocumentNumber')">
                          <fa-icon icon="close"></fa-icon>
                        </div>
                    </searchbar>
                  </section>
              </th>
              <td cdk-cell *cdkCellDef="let row">
                {{row.identityDocumentNumber || '-'}}
              </td>
            </ng-container>

           <ng-container cdkColumnDef="truckLicensePlateFront">
              <th cdk-header-cell  *cdkHeaderCellDef scope="col" [ngClass]="{'tw-bg-white' : dataSource.length }">
                  <section class="tw-flex tw-flex-col">
                      <div mat-sort-header="truckLicensePlateFront">Front License Plate</div>
                      <searchbar [minWidth]="150">
                        <fa-icon rightIcon icon="search"></fa-icon>
                        <input #searchFront input type="text" (keyup)="applyFilter($event.target, 'truckLicensePlateFront')">
                        <div *ngIf="searchFront.value" close (click)="searchFront.value=''; applyFilter({ value: '' }, 'truckLicensePlateFront')">
                          <fa-icon icon="close"></fa-icon>
                        </div>
                    </searchbar>
                  </section>
              </th>
              <td cdk-cell *cdkCellDef="let row">{{row.truckLicensePlateFront || '-'}}</td>
              <td cdk-footer-cell *cdkFooterCellDef class="tw-py-4 tw-font-bold tw-w-full tw-flex tw-justify-around">
                <app-loader></app-loader>
              </td>
            </ng-container>

           <ng-container cdkColumnDef="truckLicensePlateBack">
              <th cdk-header-cell  *cdkHeaderCellDef scope="col" [ngClass]="{'tw-bg-white' : dataSource.length }">
                  <section class="tw-flex tw-flex-col">
                      <div mat-sort-header="truckLicensePlateBack">Back License Plate</div>
                      <searchbar [minWidth]="150">
                        <fa-icon rightIcon icon="search"></fa-icon>
                        <input #searchBack input type="text" (keyup)="applyFilter($event.target, 'truckLicensePlateBack')">
                        <div *ngIf="searchBack.value" close (click)="searchBack.value=''; applyFilter({ value: '' }, 'truckLicensePlateBack')">
                          <fa-icon icon="close"></fa-icon>
                        </div>
                    </searchbar>
                  </section>
              </th>
              <td cdk-cell *cdkCellDef="let row">{{row.truckLicensePlateBack || '-'}}</td>
              <td cdk-footer-cell *cdkFooterCellDef [colSpan]="10" class="tw-py-4 tw-font-bold">
                <div>{{'messages.there-no-more-items' | translate}}</div>
              </td>
            </ng-container>

           <ng-container cdkColumnDef="language">
              <th cdk-header-cell  *cdkHeaderCellDef scope="col" [ngClass]="{'tw-bg-white' : dataSource.length }">
                  <section class="tw-flex tw-flex-col">
                      <div mat-sort-header="language">Language</div>
                      <searchbar [minWidth]="150" [disabled]="true">
                        <fa-icon rightIcon icon="search"></fa-icon>
                        <input #searchLanguage input type="text" (keyup)="applyFilter($event.target, 'language')">
                        <div *ngIf="searchLanguage.value" close (click)="searchLanguage.value=''; applyFilter({ value: '' }, 'language')">
                          <fa-icon icon="close"></fa-icon>
                        </div>
                    </searchbar>
                  </section>
              </th>
              <td cdk-cell *cdkCellDef="let row">{{row.phoneRegionCode || '-'}}</td>
            </ng-container>

            <ng-container cdkColumnDef="goodsNoticeNr">
              <th cdk-header-cell  *cdkHeaderCellDef scope="col" [ngClass]="{'tw-bg-white' : dataSource.length }">
                  <section class="tw-flex tw-flex-col">
                      <div mat-sort-header="goodsNoticeNr">{{'booking.goods-notice' | translate}}</div>
                      <searchbar [minWidth]="150">
                        <fa-icon rightIcon icon="search"></fa-icon>
                        <input #searchGoodsNotice input type="text" (keyup)="applyFilter($event.target, 'goodsNoticeNr')">
                        <div *ngIf="searchGoodsNotice.value" close (click)="searchGoodsNotice.value=''; applyFilter({ value: '' }, 'goodsNoticeNr')">
                          <fa-icon icon="close"></fa-icon>
                        </div>
                    </searchbar>
                  </section>
              </th>
              <td cdk-cell *cdkCellDef="let row">
                {{row.goodsNoticeNr || '-'}}
              </td>
            </ng-container>

            <ng-container cdkColumnDef="goodsBuyer" sticky>
              <th cdk-header-cell *cdkHeaderCellDef scope="col" [ngClass]="{'tw-bg-white' : dataSource.length }">
                  <section class="tw-flex tw-flex-col">
                      <div mat-sort-header="goodsBuyer">{{'booking.client' | translate}}</div>
                      <searchbar [minWidth]="150">
                        <fa-icon rightIcon icon="search"></fa-icon>
                        <input #searchGoodsBuyer input type="text" (keyup)="applyFilter($event.target, 'goodsBuyer')">
                        <div *ngIf="searchGoodsBuyer.value" close (click)="searchGoodsBuyer.value=''; applyFilter({ value: '' }, 'goodsBuyer')">
                          <fa-icon icon="close"></fa-icon>
                        </div>
                    </searchbar>
                  </section>
              </th>
              <td cdk-cell *cdkCellDef="let row" class="tw-bg-white">
                {{row.goodsBuyer || '-'}}
              </td>
              <td cdk-footer-cell *cdkFooterCellDef [colSpan]="22" class="tw-py-4 tw-font-bold tw-bg-white tw-px-4">
                <div class="tw-flex tw-gap-3">
                  <div>
                    Total: {{dataSource.length}}
                  </div>
                  <div>
                    Selected: 0
                  </div>
                </div>
              </td>
            </ng-container>

            <ng-container cdkColumnDef="goodsSupplier">
              <th cdk-header-cell  *cdkHeaderCellDef scope="col" [ngClass]="{'tw-bg-white' : dataSource.length }">
                  <section class="tw-flex tw-flex-col">
                      <div mat-sort-header="goodsSupplier">{{'booking.supplier' | translate}}</div>
                      <searchbar [minWidth]="150">
                        <fa-icon rightIcon icon="search"></fa-icon>
                        <input #searchGoodsSupplier input type="text" (keyup)="applyFilter($event.target, 'goodsSupplier')">
                        <div *ngIf="searchGoodsSupplier.value" close (click)="searchGoodsSupplier.value=''; applyFilter({ value: '' }, 'goodsSupplier')">
                          <fa-icon icon="close"></fa-icon>
                        </div>
                    </searchbar>
                  </section>
              </th>
              <td cdk-cell *cdkCellDef="let row">
                {{row.goodsSupplier || '-'}}
              </td>
            </ng-container>

            <ng-container cdkColumnDef="loadUnloadingPlace">
              <th cdk-header-cell  *cdkHeaderCellDef scope="col" [ngClass]="{'tw-bg-white' : dataSource.length }">
                  <section class="tw-flex tw-flex-col">
                      <div mat-sort-header="loadUnloadingPlace">{{'booking.unloading-place' | translate}}</div>
                      <searchbar [minWidth]="150" [disabled]="true">
                        <fa-icon rightIcon icon="search"></fa-icon>
                        <input #searchLoadUnloadingPlace input type="text" (keyup)="applyFilter($event.target, 'loadUnloadingPlace')">
                        <div *ngIf="searchLoadUnloadingPlace.value" close (click)="searchLoadUnloadingPlace.value=''; applyFilter({ value: '' }, 'loadUnloadingPlace')">
                          <fa-icon icon="close"></fa-icon>
                        </div>
                    </searchbar>
                  </section>
              </th>
              <td cdk-cell *cdkCellDef="let row">
                {{row.loadUnloadingPlace || '-'}}
              </td>
            </ng-container>

            <ng-container cdkColumnDef="goodsName" sticky>
              <th cdk-header-cell *cdkHeaderCellDef scope="col" [ngClass]="{'tw-bg-white' : dataSource.length }">
                  <section class="tw-flex tw-flex-col">
                      <div mat-sort-header="goodsName">{{'booking.product' | translate}}</div>
                      <searchbar [minWidth]="150">
                        <fa-icon rightIcon icon="search"></fa-icon>
                        <input #searchGoodsName input type="text" (keyup)="applyFilter($event.target, 'goodsName')">
                        <div *ngIf="searchGoodsName.value" close (click)="searchGoodsName.value=''; applyFilter({ value: '' }, 'goodsName')">
                          <fa-icon icon="close"></fa-icon>
                        </div>
                    </searchbar>
                  </section>
              </th>
              <td cdk-cell *cdkCellDef="let row" class="tw-bg-white">
                {{row.goodsName || '-'}} {{row.products ? ' ,'+row.products : ''}}
              </td>
            </ng-container>

            <ng-container cdkColumnDef="country">
              <th cdk-header-cell  *cdkHeaderCellDef scope="col" [ngClass]="{'tw-bg-white' : dataSource.length }">
                  <section class="tw-flex tw-flex-col">
                      <div mat-sort-header="country">{{'contact.country' | translate}}</div>
                      <searchbar [minWidth]="150">
                        <fa-icon rightIcon icon="search"></fa-icon>
                        <input #searchCountry input type="text" (keyup)="applyFilter($event.target, 'country')">
                        <div *ngIf="searchCountry.value" close (click)="searchCountry.value=''; applyFilter({ value: '' }, 'country')">
                          <fa-icon icon="close"></fa-icon>
                        </div>
                    </searchbar>
                  </section>
              </th>
              <td cdk-cell *cdkCellDef="let row">
                {{row.country || '-'}}
              </td>
            </ng-container>

            <ng-container cdkColumnDef="harvestYear">
              <th cdk-header-cell  *cdkHeaderCellDef scope="col" [ngClass]="{'tw-bg-white' : dataSource.length }">
                  <section class="tw-flex tw-flex-col">
                      <div mat-sort-header="harvestYear">{{'booking.harvest-year' | translate}}</div>
                      <searchbar [minWidth]="150">
                        <fa-icon rightIcon icon="search"></fa-icon>
                        <input #searchHarvestYear input type="text" (keyup)="applyFilter($event.target, 'harvestYear')">
                        <div *ngIf="searchHarvestYear.value" close (click)="searchHarvestYear.value=''; applyFilter({ value: '' }, 'harvestYear')">
                          <fa-icon icon="close"></fa-icon>
                        </div>
                    </searchbar>
                  </section>
              </th>
              <td cdk-cell *cdkCellDef="let row">
                {{row.harvestYear || '-'}}
              </td>
            </ng-container>

            <ng-container cdkColumnDef="quantityBrut">
              <th cdk-header-cell  *cdkHeaderCellDef scope="col" [ngClass]="{'tw-bg-white' : dataSource.length }">
                  <section class="tw-flex tw-flex-col">
                      <div mat-sort-header="quantityBrut">{{'booking.quantity-brut' | translate}}</div>
                      <searchbar [minWidth]="150">
                        <fa-icon rightIcon icon="search"></fa-icon>
                        <input #searchHarvestYear input type="text" (keyup)="applyFilter($event.target, 'harvestYear')">
                        <div *ngIf="searchHarvestYear.value" close (click)="searchHarvestYear.value=''; applyFilter({ value: '' }, 'harvestYear')">
                          <fa-icon icon="close"></fa-icon>
                        </div>
                    </searchbar>
                  </section>
              </th>
              <td cdk-cell *cdkCellDef="let row">
                {{row.harvestYear || '-'}}
              </td>
            </ng-container>

            <ng-container cdkColumnDef="quantityEmptyContainer">
              <th cdk-header-cell  *cdkHeaderCellDef scope="col" [ngClass]="{'tw-bg-white' : dataSource.length }">
                  <section class="tw-flex tw-flex-col">
                      <div mat-sort-header="quantityEmptyContainer">{{'booking.quantity-empty-container' | translate}}</div>
                      <searchbar [minWidth]="150">
                        <fa-icon rightIcon icon="search"></fa-icon>
                        <input #searchQuantityEmptyContainer input type="text" (keyup)="applyFilter($event.target, 'quantityEmptyContainer')">
                        <div *ngIf="searchQuantityEmptyContainer.value" close (click)="searchQuantityEmptyContainer.value=''; applyFilter({ value: '' }, 'quantityEmptyContainer')">
                          <fa-icon icon="close"></fa-icon>
                        </div>
                    </searchbar>
                  </section>
              </th>
              <td cdk-cell *cdkCellDef="let row">
                {{row.quantityEmptyContainer || '-'}}
              </td>
              <td cdk-footer-cell *cdkFooterCellDef class="tw-py-4 tw-font-bold">
                <div>{{'messages.there-no-more-items' | translate}}</div>
              </td>
            </ng-container>

            <ng-container cdkColumnDef="quantityNet">
              <th cdk-header-cell  *cdkHeaderCellDef scope="col" [ngClass]="{'tw-bg-white' : dataSource.length }">
                  <section class="tw-flex tw-flex-col">
                      <div mat-sort-header="quantityNet">{{'booking.quantity-net' | translate}}</div>
                      <searchbar [minWidth]="150">
                        <fa-icon rightIcon icon="search"></fa-icon>
                        <input #searchQuantityNet input type="text" (keyup)="applyFilter($event.target, 'quantityNet')">
                        <div *ngIf="searchQuantityNet.value" close (click)="searchQuantityNet.value=''; applyFilter({ value: '' }, 'quantityNet')">
                          <fa-icon icon="close"></fa-icon>
                        </div>
                    </searchbar>
                  </section>
              </th>
              <td cdk-cell *cdkCellDef="let row">
                {{row.quantityNet || '-'}}
              </td>
              <td cdk-footer-cell *cdkFooterCellDef [colSpan]="10" class="tw-py-4 tw-font-bold">
                <app-loader></app-loader>
              </td>
            </ng-container>
            
            <ng-container cdkColumnDef="status" sticky>
              <th cdk-header-cell *cdkHeaderCellDef scope="col" [ngClass]="{'tw-bg-white' : dataSource.length }">
                  <section class="tw-flex tw-flex-col">
                    <div mat-sort-header="status">{{'generics.status' | translate}}</div>
                    <searchbar [minWidth]="150">
                      <fa-icon rightIcon icon="search"></fa-icon>
                      <input #searchStatus input type="text" (keyup)="applyFilter($event.target, 'status')">
                        <div *ngIf="searchStatus.value" close (click)="searchStatus.value=''; applyFilter({ value: '' }, 'status')">
                          <fa-icon icon="close"></fa-icon>
                        </div>
                  </searchbar>
                </section>
              </th>
              <td cdk-cell *cdkCellDef="let row" class="tw-bg-white">
                <app-planning-status-dropdown 
                  (triggerAccept)="triggerAccept.emit($event)"
                  (triggerReject)="triggerReject.emit($event)"
                  (triggerCancellation)="triggerCancellation.emit($event)"
                  (triggerCheckIn)="triggerCheckIn.emit($event)"
                  (triggerCheckOut)="triggerCheckOut.emit($event)"
                  [planning]="row" [statuses]="(statuses$ | async) || []">
              </app-planning-status-dropdown>
              </td>
            </ng-container>

            <ng-container cdkColumnDef="actions" stickyEnd class="tw-bg-white">
              <th cdk-header-cell *cdkHeaderCellDef scope="col" [ngClass]="{'tw-bg-white' : dataSource.length }">
                <section class="tw-flex tw-flex-col">
                  <div>{{'generics.actions' | translate}}</div>
                  <button type="button" class="btn btn-outline-primary">Mass update</button>
                </section>
              </th>
              <td cdk-cell *cdkCellDef="let row" class="tw-flex tw-gap-4 tw-bg-white">
                <fa-icon matTooltipClass="tw-drop-shadow-lg" matTooltipPosition="above" [matTooltip]="'button.plan' | translate" (click)="triggerOpenEdit.emit({ view: 'edit', id: row.id })" icon="calendar-days" class="tw-text-primary tw-cursor-pointer" size="lg"></fa-icon>
                <fa-icon matTooltipClass="tw-drop-shadow-lg" matTooltipPosition="above" [matTooltip]="'button.edit' | translate" icon="eye" class="tw-text-primary tw-cursor-pointer" size="lg" [routerLink]="['../edit', row.id]"></fa-icon>
                <fa-icon matTooltipClass="tw-drop-shadow-lg" matTooltipPosition="above" [matTooltip]="'button.delete' | translate" icon="trash-can" class="tw-text-primary tw-cursor-pointer" size="lg" (click)="triggerDeletion.emit(row)"></fa-icon>
              </td>
            </ng-container>

            <!-- Header and Row Declarations -->
            <tr cdk-header-row *cdkHeaderRowDef="['SID','date-time-group', 'driver-auto-group', 'product-group']" ></tr>
            <tr cdk-header-row *cdkHeaderRowDef="displayedColumns" ></tr>
            <tr cdk-row  *cdkRowDef="let row; columns: displayedColumns"></tr>
            <tr cdk-footer-row class="tw-bg-white tw-sticky tw-bottom-0 tw-z-[1]" *cdkFooterRowDef="['goodsBuyer']; sticky: true"></tr>
            <tr cdk-footer-row *cdkFooterRowDef="(isLoading$ | async)?['schedulingDate', 'truckLicensePlateFront', 'quantityNet']:(hasReachedEndPage$ | async)?['sId', 'truckLicensePlateBack', 'quantityEmptyContainer']:[]"></tr>
            <tr *cdkNoDataRow>
              <td [colSpan]="displayedColumns.length" class="!tw-text-left !tw-pl-10">
                <app-loader *ngIf="(isLoading$ | async)" [isContainer]="true" [fullScreen]="false"></app-loader>
                <span *ngIf="!dataSource.length && !(isLoading$ | async)">{{'messages.there-re-no-records' | translate}}</span>
              </td>
            </tr>
          </table>
        </ng-scrollbar>

        <!-- <mat-paginator [class.!tw-hidden]="dataSource.data.length === 0" class="paginator tw-rounded-b-[10px]"
                       hidePageSize
                       aria-label="Select page" pageSize="10">
        </mat-paginator> -->
      </div>
</section>
