<div class="tw-max-w-lg tw-px-4 tw-py-4">
    <h2 mat-dialog-title>Add contact</h2>
    <div mat-dialog-content class="tw-whitespace-pre-line tw-mb-8 ">
        <div class="tw-flex tw-gap-2">
            <div class="tw-w-full">
                <div iconic-select-wrapper [rightIcon]="['fas', 'caret-down']">
                    <select [disabled]="!!contact" inputRef name="contact" id="contact" (change)="setContact($event)" [(ngModel)]="contactId">
                        <option [value]="null" selected disabled>Select contact</option>
                        <option *ngFor="let contact of contactList" [value]="contact.id">{{contact.name}}</option>
                    </select>
                </div>
            </div>
            <div inputRef class="tw-flex tw-items-center tw-h-[53px]">
                <button *ngIf="contact" type="button" (click)="resetContact()"><fa-icon class="tw-text-danger tw-font-bold" icon="close"></fa-icon></button>
            </div>
        </div>
        <div class="tw-flex tw-flex-col tw-gap-4" *ngIf="contact">
            <div>
                <p class="tw-text-columnCell tw-font-bold tw-pb-3">contact details</p>
                <div>
                    <div iconic-input-wrapper>
                        <input inputRef type="text" placeholder="contact name" [(ngModel)]="contact.name">
                    </div>
                </div>
                <div>
                    <div iconic-input-wrapper>
                        <input inputRef type="text" placeholder="Size" [(ngModel)]="contact.capacity">
                    </div>
                </div>
                <div>
                    <div iconic-input-wrapper>
                        <input inputRef type="text" placeholder="Brand" [(ngModel)]="contact.occupiedCapacity">
                    </div>
                </div>
                <div>
                    <div iconic-input-wrapper>
                        <input inputRef type="number" placeholder="Amount" [(ngModel)]="contact.client">
                    </div>
                </div>
                <div>
                    <div iconic-input-wrapper>
                        <input inputRef type="number" placeholder="Weight" [(ngModel)]="contact.product">
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <div mat-dialog-actions class="tw-flex tw-justify-around tw-flex-wrap-reverse tw-gap-4">
        <button tabIndex="-1" (click)="cancel()" class="btn btn-outline-primary tw-min-w-[130px]">Cancel</button>
        <button [disabled]="!contact" tabIndex="-1" (click)="confirm()" class="btn btn-primary tw-min-w-[130px]">Add</button>
    </div>
</div>
  