<full-empty-container>
  <div class="flex justify-center">
    <fa-icon icon="rectangle-list" class="text-primary text-[160px]"></fa-icon>
  </div>

  <div class="mt-10">
    <h4 class="heading-4 text-center pb-10">List management</h4>
    <p class="heading-6 text-center text-gray">
      Add your first list management and start managing assests.<br>
      After you added a new location you can set other details such as<br>
      residents, access points, parking place, etc.<br>
    </p>
    <div class="text-center pt-10 flex justify-center px-10">
      <button
        routerLink="../list-management/list"
        type="button"
        class="btn btn-primary flex-grow h-[50px] max-w-[200px]">
        <span class="text-lg" routerLink="../add">Manage Lists</span>
      </button>
    </div>
  </div>
</full-empty-container>
