<section class="tw-bg-white max-md:tw-min-w-100 min-lg:tw-min-w-[850px] tw-h-full tw-p-[50px] tw-overflow-auto">
    <app-loader class="tw-m-auto tw-flex-grow" *ngIf="(isLoading$ | async)" [fullScreen]="false"></app-loader>
    <div *ngIf="!(isLoading$ | async)">
        <div class="tw-flex tw-justify-between min-lg:tw-items-center max-lg:tw-flex-col">
            <div><h2 class="heading-2 tw-font-bold tw-text-primary">Shipment ID - {{planning?.sId}}</h2></div>
            <div class="tw-flex tw-gap-10">
                <fa-icon icon="print" class="tw-text-primary tw-text-[35px] tw-cursor-pointer"></fa-icon>
                <fa-icon icon="file-pdf" class="tw-text-primary tw-text-[35px] tw-cursor-pointer"></fa-icon>
                <fa-icon icon="envelope" class="tw-text-primary tw-text-[35px] tw-cursor-pointer"></fa-icon>
            </div>
        </div>
        <div class="tw-py-10">
            <div class="tw-flex min-lg:tw-justify-between min-lg:tw-items-center max-lg:tw-flex-col">
                <div><h4 class="heading-4 tw-text-primary">Shipment Details</h4></div>
            </div>
            <div class="tw-grid min-lg:tw-grid-rows-3 min-lg:tw-grid-cols-2 max-md:tw-grid-rows-6 max-md:tw-grid-cols-1 tw-py-2">
                <div><span class="tw-font-bold">Status: </span> <mat-chip [ngStyle]="{
                    'background': (planning$ | async)?.statusColor
                }">{{(planning$ | async)?.status || 'No status'}}</mat-chip></div>
                <div><span class="tw-font-bold">Driver: </span> {{planning?.driverName || '-'}}</div>
                <div><span class="tw-font-bold">Operation: </span> 
                    <span *ngIf="$any(planning?.operation).name">{{$any(planning?.operation).name}}</span>
                    <span *ngIf="(planning$ | async)?.operation">{{ (planning$ | async)?.operation}} ({{(planning$ | async)?.operationType}})</span>
                </div>
                <div><span class="tw-font-bold">Auto License Plate: </span> {{planning?.truckLicensePlateFront || '-'}}</div>
                <div><span class="tw-font-bold">Products: </span> 
                    <span *ngIf="planning.products.length">{{planning.products | extractProperty : 'productName'}}</span>
                    <span *ngIf="">{{(planning$ | async)?.goodsName}}</span>
                </div>
                <div><span class="tw-font-bold">Documents: </span> id = {{planning.documents | extractProperty : 'id'}}</div>
            </div>
            <div class="tw-flex tw-gap-4">
                <ng-container *ngIf="planning.documents.length">
                    <div *ngFor="let image of $any(planning.documents)">
                        <div [style.background-image]="'url(' + image?.document + ')'" (click)="openImageModal(image.document)"
                        class="tw-bg-center tw-cursor-pointer tw-bg-no-repeat tw-bg-cover tw-min-h-[83px] min-md:tw-min-w-[120px]"></div>
                    </div>
                </ng-container>
            </div>
            <div *ngIf="!planning?.documents?.length">
                <p class="tw-font-bold tw-text-center tw-py-2">There're no documents attached.</p>
            </div>
        </div>
        <div>
            <h4 class="heading-4 tw-font-bold tw-text-primary tw-mb-3">Shipment Log</h4>
            <activity-log *ngFor="let log of shipmentLogs;let i = index" icon="file-plus" [shipmentLog]="log" [isEnd]="(i + 1) === shipmentLogs.length"></activity-log>
            <h3 *ngIf="!(isLoading$ | async) && !shipmentLogs.length" class="heading-3 tw-font-bold tw-text-center tw-py-2">There're no shipment logs.</h3>
            <!-- <activity-log icon="copy"></activity-log>
            <activity-log icon="user-plus"></activity-log>
            <activity-log icon="file-plus" [isEnd]="true"></activity-log> -->
        </div>
    </div>
</section>
