<div class="w-full">
  <div class="flex flex-col">

    <h1 class="heading-2 text-center mb-8">Reset password</h1>

    <p class="mb-8 text-center text-muted text-xl">
      Fill in the fields below to reset your password and make sure it is a strong password.
    </p>

    <form class="mb-6" [formGroup]="formGroup"
        class="flex flex-col gap-y-6">
    <div iconic-password-wrapper leftIcon="lock" [validationMessagesMetadata]="{'lengthMin':'8'}">
      <input inputRef type="password"
             formControlName="password"
             placeholder="Password">
    </div>

    <div iconic-password-wrapper leftIcon="lock" [validationMessagesMetadata]="{'identicalField':'Password'}">
      <input inputRef type="password"
             formControlName="confirmPassword"
             placeholder="Password">
    </div>

  </form>


  <div class="w-full mt-8 text-center">
<!--      [disabled]="formGroup.invalid || isLoading"-->
    <button [disabled]="isLoading$ | async" type="submit" matRipple (click)="resetPassword()"
            class="btn btn-primary mb-8 mx-auto w-full">
      Reset
    </button>
  </div>

    <p class="text-center text-xl">Or go back to the
      <a class="font-bold" routerLink="/sign-in">
        Sign in
      </a>
      page
    </p>

  </div>
</div>


