<div class="tw-w-full">
  <div class="tw-flex tw-flex-col">

    <h1 class="heading-2 tw-text-center tw-mb-8">Reset password</h1>

    <p class="tw-mb-8 tw-text-center tw-text-muted tw-text-xl">
      Fill in the fields below to reset your password and make sure it is a strong password.
    </p>

    <form class="tw-mb-6" [formGroup]="formGroup"
        class="tw-flex tw-flex-col tw-gap-y-6">
    <div iconic-password-wrapper leftIcon="lock" [validationMessagesMetadata]="{'lengthMin':'8'}">
      <input inputRef type="password"
             formControlName="password"
             placeholder="Password">
    </div>

    <div iconic-password-wrapper leftIcon="lock" [validationMessagesMetadata]="{'identicalField':'Password'}">
      <input inputRef type="password"
             formControlName="confirmPassword"
             placeholder="Password">
    </div>

  </form>


  <div class="tw-w-full tw-mt-8 tw-text-center">
<!--      [disabled]="formGroup.invalid || isLoading"-->
    <button [disabled]="isLoading$ | async" type="submit" matRipple (click)="resetPassword()"
            class="btn btn-primary tw-mb-8 tw-mx-auto tw-w-full">
      Reset
    </button>
  </div>

    <p class="tw-text-center tw-text-xl">Or go back to the
      <a class="tw-font-bold" routerLink="/sign-in">
        Sign in
      </a>
      page
    </p>

  </div>
</div>


