<full-empty-container>
    <div class="tw-flex tw-justify-center">
        <fa-icon icon="comment-lines" class="tw-text-primary tw-text-[160px]"></fa-icon>
    </div>

    <div class="tw-mt-10">
        <h4 class="heading-4 tw-text-center tw-pb-10">{{'operator.there-re-no-operation-schedulings' | translate}}</h4>
        <p class="heading-6 tw-text-center tw-text-gray" [innerHTML]="'operator.use-add-sid-button' | translate | safeHtml"></p>
        <div class="tw-text-center tw-pt-10 tw-flex tw-justify-center tw-px-10">
            <div class="">
                <button routerLink="../add" type="button" class="btn btn-primary rounded-r-lg tw-flex-grow tw-h-[50px] tw-max-w-[200px]">
                    <span class="tw-text-lg">{{'operator.add-sid' | translate}}</span>
                </button>
                <button>

                </button>
            </div>
        </div>
    </div>
</full-empty-container>