.layout-wrapper {
  display: flex;
  padding: 0.5rem 1.5rem 0.5rem 1rem;
  align-items: center;
  background-color: var(--body-bg, white);
  height: var(--header-height, 70px);
  @apply min-lg:pl-[2.2rem];
}

.logo-container {
  max-width: 150px;

  img {
    cursor: pointer;
  }
}

.current-location-container {
  display: none;

  @apply min-md:flex justify-center
  items-center mx-auto;

  > .current-location {
    @apply overflow-ellipsis overflow-hidden
    max-w-xs whitespace-nowrap;
  }
}

.expand-btn {
  margin-left: auto;
  @apply min-md:hidden;
}

.menu-container {
  @apply max-md:fixed max-md:inset-0 max-md:bg-white max-md:z-10
  max-md:py-2 max-md:px-0 max-md:flex max-md:flex-col;

  &.closed {
    @apply max-md:hidden;
  }

  > .title-row {
    @apply max-md:flex max-md:justify-between max-md:items-center
    max-md:border-b max-md:mx-4;
    border-color: var(--app-border-color);
  }

  > .menu-row {
    @apply max-md:mt-4;
  }

  @apply min-md:flex;
  display: flex;

  .title-row {
    @apply min-md:hidden;
    padding-bottom: 15px;
  }

  .menu-row {
    @apply min-md:flex-grow;
  }
}
