.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.bar {
    border-left: 5px dotted #17A0B5;
    height: 151px;
    width: 0px;
    margin: -16px 17px;
}