
<section *ngIf="isLoading$.value || originalSource.length; else empty">
    <material-panel-table [showSearchbar]="false" [showHeader]="true"
                        buttonLabel="Add Message" tableTitle="Templates list" (buttonClicked)="redirectAddMessage()">
    <div table class="tw-w-full tw-shadow-lg">
        <ng-scrollbar track="horizontal" [autoHeightDisabled]="false">
          <table class="material-table no-wrap tw-overflow-hidden" matSort (matSortChange)="sortData($event)"
                 [class.loading]="(isLoading$ | async)" aria-label="Usage Table"
                 cdk-table [dataSource]="dataSource">

            <ng-container cdkColumnDef="name">
              <th cdk-header-cell *cdkHeaderCellDef scope="col">
                  <section class="tw-flex tw-flex-col">
                      <div mat-sort-header="name">Name</div>
                      <searchbar [maxWidth]="152">
                        <fa-icon icon="search"></fa-icon>
                        <input #searchName input type="text" (keyup)="applyFilter($event.target, 'name')">
                        <div *ngIf="searchName.value" close (click)="searchName.value=''; applyFilter({ value: '' }, 'name')">
                          <fa-icon icon="close"></fa-icon>
                        </div>
                    </searchbar>
                  </section>
              </th>
              <td cdk-cell *cdkCellDef="let row">{{row.name}}</td>
            </ng-container>

            <ng-container cdkColumnDef="message" >
              <th cdk-header-cell *cdkHeaderCellDef scope="col">
                  <section class="tw-flex tw-flex-col">
                    <div mat-sort-header="message">Message</div>
                    <searchbar [maxWidth]="152">
                      <fa-icon icon="search"></fa-icon>
                      <input #searchMessage input type="text" (keyup)="applyFilter($event.target, 'message')">
                      <div *ngIf="searchMessage.value" close (click)="searchMessage.value=''; applyFilter({ value: '' }, 'message')">
                        <fa-icon icon="close"></fa-icon>
                      </div>
                  </searchbar>
                </section>
              </th>
              <td cdk-cell *cdkCellDef="let row">{{row.message}}</td>
            </ng-container>

            <ng-container cdkColumnDef="requiresResponseBit">
              <th cdk-header-cell *cdkHeaderCellDef scope="col">
                  <section class="tw-flex tw-flex-col">
                    <div mat-sort-header="requiresResponseBit">Requires Response</div>
                    <select (change)="filterByRequiresResponse($event)" filter-select>
                      <option value="" selected>Select</option>
                      <option [value]="true">Yes</option>
                      <option [value]="false">No</option>
                  </select>
                </section>
              </th>
              <td cdk-cell *cdkCellDef="let row">{{row.requiresResponseBit ? 'Yes' : 'No'}}</td>
            </ng-container>

            <ng-container cdkColumnDef="actions">
              <th cdk-header-cell *cdkHeaderCellDef scope="col">
                <section class="tw-flex tw-flex-col">
                  <div>Actions</div>
                  <button type="button" class="btn btn-outline-primary">Mass update</button>
                </section>
              </th>
              <td cdk-cell *cdkCellDef="let row" class="tw-flex tw-gap-4">
                <fa-icon icon="eye" class="tw-text-primary tw-cursor-pointer" size="lg" [routerLink]="['../edit', row.id]"></fa-icon>
                <fa-icon icon="trash-can" class="tw-text-primary tw-cursor-pointer" size="lg" (click)="openDeleteModal(row.id)"></fa-icon>
              </td>
            </ng-container>

            <!-- Header and Row Declarations -->
            <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
            <tr cdk-row *cdkRowDef="let row; columns: displayedColumns"></tr>
            <tr *cdkNoDataRow>
              <td [colSpan]="displayedColumns.length">
                <app-loader *ngIf="(isLoading$ | async)" [isContainer]="true" [fullScreen]="false"></app-loader>
                <span
                  *ngIf="dataSource.length === 0 && !(isLoading$ | async)">Nu există înregistrări</span>
                <span
                  *ngIf="dataSource.length > 0  && !(isLoading$ | async)">Nicio înregistrare nu corespunde criteriilor de căutare</span>
              </td>
            </tr>
          </table>
        </ng-scrollbar>

      <mat-paginator [class.!tw-hidden]="dataSource.length === 0"
                     [pageSizeOptions]="pageSizeOptions"
                     [length]="length"
                     [pageIndex]="pageIndex"
                     (page)="onPaginateChange($event)"
                     [pageSize]="pageSize"
                     showFirstLastButtons>

      </mat-paginator>

        <!-- <mat-paginator [class.!tw-hidden]="dataSource.data.length === 0" class="paginator tw-rounded-b-[10px]"
                       hidePageSize
                       aria-label="Select page" pageSize="10">
        </mat-paginator> -->
      </div>
    </material-panel-table>
</section>
<ng-template #empty>
  <no-messages></no-messages>
</ng-template>
