<div
  [class.valid]="isValid === true && isTouched"
  [class.invalid]="isValid === false && isTouched"
  [class.disabled]="isDisabled"
  class="iconic-layout-wrapper">
  <div class="input-container {{inputContainerClass}}" [ngStyle]="{'paddingLeft.rem': leftIcon ? 'inherit' : 1.2 }">
    <!-- <img *ngIf="layoutSvg" [src]="layoutSvg" alt="icon" class="tw-mx-2"> -->
    <img *ngIf="leftSvg" [src]="leftSvg" alt="icon" class="tw-mx-2 tw-max-h-5 tw-max-w-10">
    <fa-icon *ngIf="leftIcon" [icon]="leftIcon" size="lg" class="icon"></fa-icon>
    <ng-content select="input[inputRef]"></ng-content>
    <ng-container *ngIf="appendedTemplate" [ngTemplateOutlet]="appendedTemplate"></ng-container>
    <fa-icon *ngIf="rightIcon" [icon]="rightIcon" size="lg" class="icon"></fa-icon>
    <fa-icon *ngIf="isValid && withCheckmark && isTouched" [icon]="checkmark" size="lg" class="icon valid"></fa-icon>
  </div>
  <!-- <ng-container [hidden]="isTouched && showValidationMessages"> -->
    <div *ngIf="showValidation" class="errors-container" [style.visibility]="isTouched && showValidationMessages && errors ? 'visible': 'hidden'" [style.height.px]="21">
      <div *ngFor="let error of (errors | keyvalue)" class="tw-text-center">
        <span class="invalid">Invalid value</span>
      </div>
    </div>
  <!-- </ng-container> -->

</div>


<ng-content select="[auxiliary]"></ng-content>
