<full-empty-container>
    <div class="tw-flex tw-justify-center">
        <fa-icon icon="location-dot" class="tw-text-primary tw-text-[160px]"></fa-icon>
    </div>

    <div class="tw-mt-10">
        <h4 class="heading-4 tw-text-center tw-pb-10">There are no locations enrolled</h4>
        <p class="heading-6 tw-text-center tw-text-gray">
            Add your first location and start managing assets.<br>
            After you added a new location you can set other details such as<br>
            residents, access points, parking place, etc.<br>
        </p>
        <div class="tw-text-center tw-pt-10 tw-flex tw-justify-center tw-px-10">
            <button routerLink="../add" type="button" class="btn btn-primary tw-flex-grow tw-h-[50px] tw-max-w-[200px]">
                <span class="tw-text-lg">Add location</span>
            </button>
        </div>
    </div>
</full-empty-container>