<!--<mat-stepper labelPosition="bottom" [linear]="isLinear" #stepper selectedIndex="0" (selectionChange)="handleSelectionChange($event)">
  <mat-step [stepControl]="firstFormGroup" label="Scheduling" [completed]="stepOne">
    <app-loader *ngIf="(isLoading$ | async)" [isContainer]="true" [fullScreen]="false"></app-loader>
    <div *ngIf="!(isLoading$ | async)">
      <div class="tw-flex tw-flex-col">
        <form [formGroup]="schedulingForm">
          <div class="tw-pt-3 tw-pb-20 min-xl:tw-px-[360px] min-md:tw-px-[180px]">
            <searchbar>
              <fa-icon [icon]="['fas', 'caret-down']"></fa-icon>
              <input #inputName [matMenuTriggerFor]="menu" readonly input class="tw-rounded tw-cursor-pointer" type="text" placeholder="Select client">
              <mat-menu #menu="matMenu">
                <div iconic-input-wrapper class="tw-px-4" leftIcon="search">
                  <input (click)="$event.stopPropagation();" inputRef type="text" placeholder="Search" [(ngModel)]="search" [ngModelOptions]="{ standalone: true }">
                </div>
                <ul class="tw-overflow-auto tw-max-h-[300px]">
                  <li class="tw-py-2" (click)="selectCustomer(customer, inputName)" *ngFor="let customer of customers | callback: filterName">{{customer.fullName}} <fa-icon *ngIf="customer.status" [icon]="['fas', 'star']" class="tw-text-primary tw-pl-4" size="lg"></fa-icon></li>
                  <li *ngIf="!(customers | callback: filterName).length">No customer found.</li>
                </ul>
              </mat-menu>
            </searchbar>
          </div>
          <div class="tw-col-span-2 tw-grid tw-grid-cols-2 tw-gap-x-10 tw-gap-y-4 tw-px-[50px]">
            <div class="tw-flex tw-flex-col tw-gap-x-10 tw-gap-y-4 tw-px-[50px]">
              <timepicker [isMinutes]="true" placeholder="Timeslot start" (modelChange)="handleTimeSlotChange($event, 'start')"></timepicker>
              <div iconic-select-wrapper leftIcon="truck-ramp-box" [rightIcon]="['fas', 'caret-down']">
                <select inputRef name="dock" formControlName="dock">
                  <option value="null" disabled>Select dock</option>
                  <option *ngFor="let dock of docks" [value]="dock.id">{{dock.name}}</option>
                </select>
              </div>
            </div>
            <div class="tw-flex tw-flex-col tw-gap-x-10 tw-gap-y-4 tw-px-[50px]">
              <timepicker [isMinutes]="true" placeholder="Timeslot end" (modelChange)="handleTimeSlotChange($event, 'end')"></timepicker>
              <div iconic-select-wrapper leftIcon="clock" [rightIcon]="['fas', 'caret-down']">
                <select inputRef name="warehouse" id="warehouse" formControlName="warehouse">
                  <option value="null" disabled>Select building</option>
                  <option *ngFor="let building of buildings" [value]="building.id">{{building.name}}</option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="tw-flex tw-justify-end tw-py-3">
        <button [disabled]="!schedulingForm.get('customer')?.value" (click)="stepOne = true" type="button" class="btn btn-primary" matStepperNext>Next</button>
      </div>
    </div>
  </mat-step>
  <mat-step [stepControl]="firstFormGroup" label="Transport Data" [completed]="stepTwo">
    <app-loader *ngIf="(isLoading$ | async)" [isContainer]="true" [fullScreen]="false"></app-loader>
    <form *ngIf="!(isLoading$ | async)" [formGroup]="schedulingForm">
      <div class="tw-grid min-lg:tw-grid-cols-2 tw-grid-cols-1 tw-gap-x-10 tw-gap-y-4 tw-pt-[100px] tw-px-[50px]">
        <div class="tw-flex tw-flex-col tw-gap-x-10 tw-gap-y-4 tw-px-[50px]">
          <p class="tw-text-columnCell tw-font-bold">Transport data</p>
          &lt;!&ndash; <div iconic-input-wrapper leftIcon="calendar-days"> &ndash;&gt;
          &lt;!&ndash; <input inputRef type="date" placeholder="Scheduling date" formControlName="schedulingDate"> &ndash;&gt;
          <div>
            <datepicker placeholder="Scheduling date" [formGroup]="schedulingForm" [field]="'schedulingDate'"></datepicker>
            <div [style.visibility]="'hidden'" [style.height.px]="21"></div>
          </div>
          &lt;!&ndash; </div> &ndash;&gt;
          <div iconic-select-wrapper leftIcon="grid-2" [rightIcon]="['fas', 'caret-down']">
            <select inputRef name="operation" id="operation" formControlName="operation">
              <option value="null" disabled>Operation type</option>
              <option *ngFor="let operation of operations" [value]="operation.id">{{operation.name}}</option>
            </select>
          </div>
          <div iconic-select-wrapper leftIcon="id-card" [rightIcon]="['fas', 'caret-down']">
            <select inputRef name="customer" id="customer" formControlName="customer">
              <option value="null" disabled>Customer</option>
              <option *ngFor="let customer of customers" [value]="customer.id">{{customer.fullName}}</option>
            </select>
          </div>
          <div iconic-input-wrapper leftIcon="user">
            <input inputRef type="text" placeholder="Destination" formControlName="destination">
          </div>
          <div iconic-input-wrapper leftIcon="location-dot">
            <input inputRef type="text" placeholder="Loading address" formControlName="loadingAddress">
          </div>
        </div>
        <div class="tw-flex tw-flex-col tw-gap-x-10 tw-gap-y-4 tw-px-[50px]">
          <p>&nbsp;</p>
          <div iconic-input-wrapper leftSvg="assets/images/license_plates.svg">
            <input inputRef type="text" placeholder="Truck license plate front" formControlName="truckLicensePlateFront">
          </div>
          <div iconic-input-wrapper leftIcon="trailer">
            <input inputRef type="text" placeholder="Truck license plate back" formControlName="truckLicensePlateBack">
          </div>
          <div iconic-input-wrapper leftSvg="assets/images/license_plates.svg">
            <input inputRef type="text" placeholder="Driver name" formControlName="driverName">
          </div>
          <div iconic-input-wrapper leftSvg="assets/images/license_plates.svg">
            <input inputRef type="text" placeholder="Driver ID" formControlName="driverId">
          </div>
          <div iconic-input-wrapper leftSvg="assets/images/license_plates.svg">
            <input inputRef type="text" placeholder="Driver mobile phone" formControlName="driverContactNumber">
          </div>
        </div>
      </div>
      <div class="tw-px-[100px]">
        <p class="tw-pb-3 tw-text-columnCell tw-font-bold">Custom Fields</p>
        <div *ngIf="transportData" class="tw-grid min-lg:tw-grid-cols-2 tw-grid-cols-1 tw-gap-y-4 tw-gap-x-40">
          <div *ngFor="let input of transportData;">
            <ng-container [ngSwitch]="input.type">
              <ng-container *ngSwitchCase="'text'">
                <label *ngIf="input.label">{{input.label}}</label>
                <div iconic-input-wrapper>
                  <input inputRef type="text" [placeholder]="input.placeholder" [required]="input.required"
                         (keyup)="updateCustomFieldTransport(input.id, input.type, $event.target)">
                </div>
              </ng-container>
              <ng-container *ngSwitchCase="'radio'">
                <label *ngIf="input.label">{{input.label}}</label>
                <div class="tw-flex tw-items-center tw-gap-4">
                  <div class="tw-flex tw-items-center tw-gap-2" *ngFor="let field of input.customFieldLists">
                    <label *ngIf="field.label">{{field.label}}</label>
                    <input type="radio" [name]="input.name" [value]="field.value"
                           (change)="updateCustomFieldTransport(input.id, input.type, { value: field.value, checked: $any($event.target)?.checked })">
                  </div>
                </div>
              </ng-container>
              <ng-container *ngSwitchCase="'checkbox'">
                <label *ngIf="input.label">{{input.label}}</label>
                <div class="tw-flex tw-items-center tw-gap-4">
                  <div class="tw-flex tw-items-center tw-gap-2" *ngFor="let field of input.customFieldLists">
                    <label *ngIf="field.label">{{field.label}}</label>
                    <input type="checkbox" [name]="input.name" [value]="field.value"
                           (change)="updateCustomFieldTransport(input.id, input.type, { value: field.value, checked: $any($event.target)?.checked })">
                  </div>
                </div>
              </ng-container>
              <ng-container *ngSwitchCase="'date'">
                <label *ngIf="input.label">{{input.label}}</label>
                <div iconic-input-wrapper>
                  <input inputRef type="date" [placeholder]="input.placeholder" [required]="input.required"
                         (change)="updateCustomFieldCargo(input.id, input.type, $event.target)">
                </div>
              </ng-container>
              <ng-container *ngSwitchCase="'time'">
                <label *ngIf="input.label">{{input.label}}</label>
                <div iconic-input-wrapper>
                  <input inputRef type="time" [placeholder]="input.placeholder" [required]="input.required"
                         (change)="updateCustomFieldCargo(input.id, input.type, $event.target)">
                </div>
              </ng-container>
              <ng-container *ngSwitchCase="'textarea'">
                <label *ngIf="input.label">{{input.label}}</label>
                <div textarea-wrapper>
                    <textarea inputRef type="textarea" [placeholder]="input.placeholder" [required]="input.required"
                              (keyup)="updateCustomFieldAdditional(input.id, input.type, $event.target)"></textarea>
                </div>
              </ng-container>
              <ng-container *ngSwitchCase="'select'">
                <label *ngIf="input.label">{{input.label}}</label>
                <div iconic-select-wrapper [rightIcon]="['fas', 'caret-down']">
                  <select class="tw-w-full" [required]="input.required" inputRef (change)="updateCustomFieldAdditional(input.id, input.type, $event.target)">
                    <option value="">{{input.placeholder}}</option>
                    <option *ngFor="let field of input.customFieldLists" [value]="field.value">{{field.label}}</option>
                  </select>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>
        <p *ngIf="!transportData || !transportData.length">There're no transport data custom fields.</p>
      </div>
      <div class="tw-flex tw-gap-2 tw-justify-end tw-py-3">
        <button type="button" class="btn btn-primary" matStepperPrevious>Back</button>
        <button type="button" class="btn btn-primary" (click)="stepTwo = true" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
</mat-stepper>-->
