<edit-container [headerTitle]="id ?  'Update Organization details':'Update Organization details'">
    <app-loader *ngIf="(isLoading$ | async)" [isContainer]="true" [fullScreen]="false"></app-loader>
    <form [formGroup]="updateOrganizationForm" *ngIf="!(isLoading$ | async)">
        <div class="tw-flex tw-flex-col tw-mx-auto tw-max-w-[440px] tw-gap-5">
            <div>
                <div iconic-input-wrapper [rightIcon]="['fas', 'caret-down']">
                    <input inputRef type="file" placeholder="Image Logo" formControlName="imgLogo">
                </div>
            </div>
            <div>
                <div iconic-input-wrapper [rightIcon]="['fas', 'caret-down']">
                    <input inputRef type="file" name="Image Cover" placeholder="imgCover" formControlName="imgCover">
                </div>
            </div>
        </div>

        <div class="tw-flex tw-justify-end tw-pt-5">
            <div class="tw-flex tw-gap-4">
                <button [routerLink]="id ? '../../list' : '../list'" class="btn btn-outline-primary"
                    type="button">Cancel</button>
                <button [disabled]="updateOrganizationForm.invalid ||(isLoading$ | async)" class="btn btn-primary" type="button"
                    (click)="updateOrganization()">Save</button>
            </div>
        </div>
    </form>
</edit-container>
